@font-face {
  font-family: 'Golos_Text';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/golos-text_regular.woff2);
  }
@font-face {
  font-family: 'Golos_Text';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/golos-text_medium.woff2);
  }
@font-face {
  font-family: 'Golos_Text';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/golos-text_demibold.woff2);
  }
@font-face {
  font-family: 'Golos_Text';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/golos-text_bold.woff2);
  }

@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Onest-VariableFont_wght.ttf);
  }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Lato-Light.ttf);
  }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Lato-Medium.ttf);
  }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Lato-Bold.ttf);
  }

:root {
	--bg: #f4f6f8;
	--w: #fff;
	--blue: #5b7dde;
	--light-blue: #bdccf7;
	--txt-1: #161c24;
	--txt-2: #454f5b;
	--txt-3: #a5b2bf;
}
:root {
  --font-family: "Golos_Text", sans-serif;
  --second-family: "Onest", sans-serif;
  --third-family: "Lato", sans-serif;
}

html {font-size:16px;}
@media (max-width:900px) {html {font-size:14px;}}
@media (max-width:600px) {html {font-size:13px;}}

body {background:var(--bg);color:var(--txt-1);overflow-x:hidden;width:100%;
font-family:var(--font-family);font-size:1rem;font-style:normal;font-weight:400;line-height:normal;letter-spacing:normal;}

.wrapG {display:block;max-width:1308px;margin:0 auto;padding:0 10px;}

body * {box-sizing:border-box;}
*::-webkit-scrollbar {width:20px;height:20px;}
*::-webkit-scrollbar-track {background:var(--light-blue);border-radius:25px;}
*::-webkit-scrollbar-thumb {background-color:var(--blue);border-radius:20px;border:none;}

* {transition-duration:0.3s;}

a {text-decoration:none;color:inherit;display:flex;justify-content:start;flex-wrap:nowrap;align-items:center;gap:1em;}

.hCont {display:flex;justify-content:space-between;flex-wrap:wrap;align-items:stretch;gap:1em;}
.vCont {display:flex;justify-content:space-between;flex-wrap:wrap;align-items:stretch;gap:1em;flex-direction:column;}
.hContSt {display:flex;justify-content:start;flex-wrap:wrap;align-items:stretch;gap:1em;}
.vContSt {display:flex;justify-content:start;flex-wrap:wrap;align-items:stretch;gap:1em;flex-direction:column;}

.dispNon {display:none;}
.cros {cursor:pointer;}

h1 {font-family:var(--second-family);font-weight:700;font-size:3.25rem;line-height:110%;color:var(--txt-1);}
h2 {font-family:var(--second-family);font-weight:700;font-size:2.25rem;line-height:102%;color:var(--txt-1);}
h3 {font-family:var(--second-family);font-weight:700;font-size:3rem;line-height:normal;color:var(--txt-1);}
@media (max-width:600px) {
h1 {font-size:2.25rem;}
h2 {font-size:1.5rem;}
h3 {font-size:2rem;}}

.logo {flex-direction:column;gap:0;}
.logo>div {text-align:justify;width:100%;}
.logo>div:nth-child(1) {font-family: var(--third-family);line-height:30px;
font-weight:700;font-size:2.25rem;text-transform:uppercase;}
.logo>div:nth-child(2) {font-family: var(--third-family);
font-weight:300;font-size:0.875rem;letter-spacing:0.11em;text-transform:lowercase;}

header {padding:16px 0;border-radius: 0 0 20px 20px;box-shadow: 0 -26px 82px 0 rgba(55, 80, 117, 0.15);background: var(--w);color: var(--txt-1);}
.wideMenu, .wideMenu .options {align-items:center;}
.wideMenu .options>* {border-radius:58px;padding:8px 16px 8px 16px;justify-content:center;text-align:center;}
.wideMenu .options>* {background: var(--bg);}
.wideMenu .telph {gap:8px;}
header .telph .vCont {gap:0;}
.wideMenu .telph {align-self:center;}
header .telph .vCont {align-items:center;}
.burger {cursor:pointer;width:30px;height:26px;gap:0;}
.burger>div {height:5px;border-radius:5px;background:var(--blue);}
header .telph .desc {color: #5b5b5b;}
.telph .telN {font-family: var(--third-family);
font-weight:700;font-size:1.125rem;}
.telph .desc {font-family: var(--third-family);
font-weight:500;font-size:0.8125rem;}

.burgerMenu {position:fixed;top:0;right:0;
padding:26px 16px;border-radius:20px;box-shadow: 0 -26px 82px 0 rgba(55, 80, 117, 0.75);background:var(--w);}
.burgerMenu .options {flex-direction:column;margin-bottom:20px;}

@media (max-width:1150px) {.wideMenu .options {order:3;width:100%;}
.wideMenu .telph {order:2;}}

@media (max-width:750px) {header .wideMenu .telph, header .wideMenu .options {display:none;}}
@media (min-width:750px) {.burger {display:none;}}

.imgCont {display:flex;justify-content:center;align-items:center;
border-radius:8px;width:38px;height:38px;background:var(--bg);overflow:hidden;}

.tit {margin:50px 0;}
.tit .titImg {background:url(../images/titImg.jpg) right center no-repeat;background-size:cover;
border-radius:20px;min-height:563px;padding:32px;}
.wtStik {border-radius: 20px;padding: 40px;max-width:740px;background: var(--w);}
.wtStik h1, .wtStik h2 {margin-bottom:24px;}

span {color:var(--blue);}
b {font-weight:700;}

.tit {background:url(../images/decor1.svg) center center no-repeat;background-size:contain;}
.tit .titImg {font-size:1.125rem;line-height: 130%;}
.tit .options {margin:16px 0;column-gap:0;}
.tit .options>div {border-radius: 15px;padding: 24px;width:32%;background: var(--w);gap:0;}
.tit .options>div>div:nth-child(2) {width:calc(100% - 50px);}
.tit .options>div>div>div:nth-child(1) {font-weight: 600;}
.tit .options>div>div>div:nth-child(2) {line-height: 120%;color: var(--txt-2);}
@media (max-width:1100px) {.tit .options>div {width:48%;}
.tit .options {justify-content:space-around;}}
@media (max-width:750px) {.tit .options>div {width:100%;max-width:500px;}
.tit .titImg {min-height:50px;padding:16px;}
.tit .titImg>div {border-radius:15px;padding:20px;}}

h2 img {margin-left:10px;}
.prokat h2 {display:flex;align-items:center;margin-bottom:40px;}
.prokat {border-radius:50px;padding:120px 0 0 0;background:var(--w);}

.prokat .decr {height:50px;background:var(--w);
border-radius: 50px 50px 0 0;box-shadow: 0 -20px 40px -4px rgba(145, 158, 171, 0.12);}
.prokat.wint {border-radius:0 0 50px 50px;padding:70px 0 120px 0;}
.prokat .options {gap:30px;}
.options .unt {width:48.3%;}
.prokat .options .unt.optSmal {width:31.7%;}
.options .unt .imgCont img {object-fit:cover;width:100%;height:100%;}
.options .unt .imgCont {border-radius: 15px;width: 100%;height: 234px;position:relative;}
.options .unt .imgCont a {position:absolute;right:10px;bottom:10px;
border-radius: 47px;padding: 12px;width: 48px;height: 48px;background: var(--w);
background-image:url(../images/arr45.svg);background-position:center center;background-repeat: no-repeat;}
.options .txtCont {border-radius: 15px;padding: 18px;width: 100%;background: var(--bg);}
.options .txtCont>div:nth-child(1) {font-weight: 600;font-size:1.125rem;}
.options .txtCont>div:nth-child(1) {line-height: 120%;color: var(--txt-2);margin-bottom:6px;}
@media (max-width:1270px) {.prokat.wint .options {justify-content:space-around;}
.prokat .options .unt.optSmal {width:48.3%;}}
@media (max-width:1000px) {.options {justify-content:space-around;}
.options .unt, .prokat .options .unt.optSmal, .prokat .wrapG {width:100%;max-width:550px;}}
@media (max-width:680px) {.prokat {border-radius:25px;padding:40px 0 0 0;}
.prokat.wint {padding:15px 0;border-radius:0 0 25px 25px;}
.prokat .decr {height:25px;border-radius:25px 25px 0 0;}}

.dopus {background:url(../images/decor2.svg) center center no-repeat;background-size:contain;
margin:50px 0 120px 0;}
.dopus .addCont>div:nth-child(1) {width:30%;margin-bottom:15px;}
.dopus .addCont .options {width:66%;}
.dopus h2 {margin-bottom:15px;}
.dopus .options .txtCont {background: var(--w);}
@media (max-width:1200px) {.dopus .addCont>div:nth-child(1), .dopus .addCont .options {width:100%;}
.dopus h2 {margin-bottom:10px;}}
@media (max-width:1000px) {.dopus .wrapG {max-width:550px;}}
@media (max-width:680px) {.dopus {padding:40px 0;}}

.blog {border-radius:50px;padding:120px 0 50px 0;background: var(--w);}
.blog h2 {margin-bottom:40px;}
.blog .options>div {width:30.3%;}
.blog .options>.unt:nth-child(1) .imgCont, .blog .options>.unt:nth-child(2) .imgCont {height:468px;}
.blog .txtCont {min-height:84px;}
.blog .options .vCont .unt {width:100%;}
.blog .options .vCont .imgCont {height:170px;}
@media (max-width:1200px) {
.blog .options>div {width:48.3%;}
.blog .options>div:nth-child(3) {width:100%;}
.blog .options .vCont {flex-direction:row;}
.blog .options .vCont .unt {width:48.3%;}}
@media (max-width:1000px) {.blog .options>div, .blog .options .vCont .unt, .blog .wrapG {width:100%;max-width:550px;}}
@media (max-width:500px) {.blog .options>.unt:nth-child(1) .imgCont, .blog .options>.unt:nth-child(2) .imgCont {height:auto;aspect-ratio:1/1;}}
@media (max-width:680px) {.blog {border-radius:25px;padding:40px 0;}}

.arr {border-radius: 15px;width:48px;height:48px;background:url(../images/arrUnAct.svg) center center no-repeat,  var(--w);cursor:pointer;}
.arrLeft {transform: rotate(180deg);}
.arr.act {background:url(../images/arrAct.svg) center center no-repeat,  var(--w);}
.hScrol .scrolCont {display:flex;justify-content:flex-start;white-space:nowrap;gap:1em;overflow-x:auto;overflow-y:hidden;-ms-overflow-style:none;}
.hScrol .scrolCont>* {flex-shrink:0;white-space:normal;}
.scrolNav {text-align:center;margin-top:20px;}
.dot {display:inline-block;background:var(--light-blue);width:8px;height:8px;border-radius:10px;cursor:pointer;}
.dot.selected {background:var(--blue);}
.dot:nth-child(n + 2) {margin-left:19px;}

.news {margin:120px 0 92px 0;}
.news .options .unt {border-radius:15px;padding:24px;width:410px;height:257px;background: var(--w);
display:flex;justify-content:flex-start;flex-direction:column;align-items:start;}
.news .hScrol>div:nth-child(1) {margin-bottom:40px;}
.news .scrolCont {padding-bottom:15px;}
.news .upScr {display:inline-flex;justify-content:center;align-items:center;padding:0 16px;
margin-bottom:24px;font-weight:600;font-size:0.875rem;line-height:120%;color:var(--w);
border-radius:500px;height:29px;background: var(--blue);}
.news .unTit {margin-bottom:12px;font-weight:600;font-size:1.125rem;color: var(--txt-1);}
.news .txt {max-height:60px;color: var(--txt-2);overflow-x:hidden;overflow-y:auto;}
.news .dat {color: rgba(71, 79, 90, 0.5);margin-top:auto;}
@media (max-width:440px) {.news .options .unt {width:97%;}}

.consult .cont {border-radius:20px;padding: 32px;margin:120px 0;
background: var(--w);font-size:1.125rem;line-height:130%;color: var(--txt-2);}
.sendForm {width:calc(100% - 380px);}
.sendForm h3 {margin-bottom:16px;}
.sendForm form {margin-top:32px;}
.sendForm input[type="tel"] {border: 1px solid #e5e5e5;border-radius:10px;padding:0 12px;width:68%;height:57px;
font-weight:600;font-size:1.125rem;color: var(--txt-3);}
.sendForm input[type="submit"] {border:none;border-radius:10px;width:27%;height:57px;background: var(--blue);
font-weight:600;font-size:1.125rem;color: var(--w);}
.agrChk {display:none;}
.chkLab::before {content:"";display:inline-block;width:20px;height:20px;border-radius:5px;margin-right:10px;border:1px solid #e5e5e5;flex-shrink:0;}
.agrChk:checked + .chkLab::before {border:1px solid var(--blue);background:url(../images/chkB.svg) center center no-repeat, var(--blue);}
.chkLab {display:flex;justify-content:start;align-items:center;flex-wrap:nowrap;color:var(--txt-3);}
.chkLab span {font-weight:500;color:var(--blue);}
.agrChk:checked + .chkLab {color:var(--txt-1);}
.agrChk:checked + .chkLab span {font-weight:600;}

.msgForm {border-radius: 20px;padding:24px;width:342px;
background:url(../images/decor3.svg) center bottom no-repeat, var(--bg);
background-size:110%;}
.teleg, .whats {display:flex;justify-content:space-between;align-items:center;
font-weight:500;border-radius:8px;padding:12px 16px;width:100%;height:48px;background: var(--w);}
.teleg {color:#229ed9;}
.whats {color:#08b419;}
.msgForm .teleg {margin:24px 0 10px 0;}
.msgForm .whats {margin:0 0 90px 0;}

@media (max-width:1000px) {.consult .cont {justify-content:end;margin:60px 0;}
.sendForm {width:100%;}}
@media (max-width:700px) {.sendForm input[type="tel"], .sendForm input[type="submit"] {height:45px;}}
@media (max-width:500px) {.consult .cont {border-radius:20px;padding:32px 10px;margin:40px 0;}
.sendForm input[type="tel"], .sendForm input[type="submit"] {width:100%;}
.msgForm {padding:24px 10px;}}

.endFoot {background:url(../images/endBk.jpg) center center no-repeat;
background-size:cover;border-radius: 50px 50px 0 0;padding-top:170px;}
.endFoot .wtStik {margin-bottom:120px;}
.endFoot .txt {text-align:justify;}
.endFoot .decr {height:50px;background:var(--txt-1);border-radius: 50px 50px 0 0;}
@media (max-width:800px) {.endFoot, .endFoot .decr {border-radius: 25px 25px 0 0;padding-top:40px;}
.endFoot .wtStik {margin-bottom:40px;}}

footer {padding:0 0 20px 0;background:var(--txt-1);color: var(--w);}
footer .wideMenu .options>* {background: #42484e;width:15%;min-width:180px;}
footer .wideMenu .options {width:100%;}
footer .row1 {justify-content:end;align-items:center;width:100%;}
footer .logo {margin-right:auto;}
footer .row1 * {justify-content:end;align-items:center;gap:6px;}
footer .wideMenu .imgCont {justify-content:center;background: rgba(244, 246, 248, 0.2);border-radius: 4px;width:26px;height:26px;}
.ddot {width:5px;height:5px;border-radius: 100%;background:var(--blue);}
footer .navL .adrs .desc: {font-weight:500;font-size:1rem;color: var(--w);}
footer .navL .toChart {gap:0;}
footer .navL .toChart .desc {font-weight:500;font-size:0.875rem;color: var(--light-blue);}
.rvb1 {font-size:0.875rem;color: var(--bg);opacity: 0.4;margin:20px auto 0 auto;text-align:center;}
@media (max-width:1250px) {footer .options {justify-content:space-around;}}

/*===============*/
.noScrolBar {scrollbar-width: none;}
.noScrolBar::-webkit-scrollbar {display: none;}

.clearFlow:after {
   content: '';
   display: block;
   height: 0; 
   clear: both;}
