@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/IBMPlexSans-Thin.ttf);
  }
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/IBMPlexSans-ExtraLight.ttf);
  }
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/IBMPlexSans-Light.ttf);
  }
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/IBMPlexSans-Regular.ttf);
  }
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/IBMPlexSans-Medium.ttf);
  }
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/IBMPlexSans-SemiBold.ttf);
  }
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/IBMPlexSans-Bold.ttf);
  }

:root {
--plan_text: white;
--white: #FFF;
--light-green-cyan: #82EBC1;
--vivid-green-cyan: #0FAA97;
--green-cyan: #43CBB1;
--GreyText: #BBC4D4;
--main_back: #1D2026;
--Blue_dark: #00398A;
--vivid-blue: #3283F5;
--light-blue: #8ED1FC;
--vivid-blue-p: #3283F550;
--blue: #46A2F8;
--dark_bg: #15181D;
--text_secondary: #8A94A7;
}

body {background:var(--main_back);width:100%;color: var(--plan_text);
font-family: 'IBMPlexSans', sans-serif;color:var(--GreyText);font-size:16px;font-style:normal;font-weight:400;line-height:24px;letter-spacing:0.64px;}

.wrapG {display:block;max-width:1060px;margin:3.125rem auto;padding:0 10px;}
.wrapG2 {display:block;max-width:1460px;margin:0 auto;padding:0 10px;}
.wrapW {display:block;width:100%;}
body * {box-sizing:border-box;}

* {transition-duration:0.3s;}
a {text-decoration:none;color:inherit;}
a * {vertical-align:middle;}
div.Img {overflow:hidden;line-height:0;}
.Img img {width:100%;}

html {font-size:32px;}
h1 {font-size:1.375rem;line-height:1.6875rem;font-weight:700;color:var(--white);}
h2 {font-size:1.1875rem;line-height:1.5rem;font-weight:700;color:var(--white);}
@media (max-width:1024px) {html {font-size:27.636px;}}
@media (max-width:700px) {html {font-size:24px;}
.wrapG {margin:56px auto;}}
@media (max-width:360px) {html {font-size:20.36px;}}

.blur {position:fixed;top:0;left:0;width:100%;height:100%;background:#000000D0;z-index:10;}
.blur.dispNon {display:none;}
.backLayer {position:relative;width:100%;height:100%;overflow:hidden;}
.artCont {position:relative;}
.artCont>* {position:absolute;}
.artCont>div img {width:100%;height:100%;}
.art001 {position:absolute;top: -20px;right:calc(((100% - 1060px)/2) - 210px);z-index: -1;}
.art002 {position:absolute;top:0;left:calc(((100% - 1060px)/2) - 520px);z-index: -2;}
.roundBlu {background:var(--blue);border-radius:50%;}
.roundLitGre {background:var(--vivid-green-cyan);border-radius:50%;}

.hCont {display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center;}
.vCont {display:flex;flex-direction: column;justify-content:space-between;flex-wrap:wrap;align-items:center;}

header {padding:30px 0;}
.logo {font-size:32px;font-weight:600;line-height:40px;letter-spacing:1.28px;}
.logo img {width:28px;margin-right:15px;}
.wideMenu .options {font-weight:500;margin:0 -15px;}
.wideMenu .options .mnUnt {margin-left:15px;margin-right:15px;}
header .wideMenu .addCont {min-width:750px;}
.wideMenu .teleph {color: var(--green-cyan);font-weight: 500;}
.wideMenu .burger {width:40px;height:40px;padding:8px;border-radius:4px;background:var(--dark_bg);cursor:pointer;display:none;}
.wideMenu .burger:hover {background:var(--vivid-blue-p);}

.mainBanner {position:relative;}
.mainBanner .txt1 {font-size:0.75rem;line-height:32px;}
.mainBanner .txt1 span {color: var(--light-green-cyan);font-size:1.75rem;font-weight:700;line-height:56px;}
.mainBanner .txt2 {font-size:0.75rem;line-height:1rem;}
.mainBanner .txtCont {max-width:620px;}
.mainBanner .txtCont h1 {margin-bottom:0.25rem;max-width:590px;}
.mainBanner .txtCont .txt1 {margin-bottom:1.25rem;}
.mainBanner .txtCont .txt2 {margin-bottom:2.25rem;color:var(--white);}
@media (max-width:1024px) {.wideMenu .burger {display:block;}
header .wideMenu .addCont {min-width:400px;}
header .wideMenu .options {display:none;}
.art001 {width:530px;top:40px;right: -7%;}
.mainBanner .txtCont h1, .mainBanner .txtCont .txt2 {max-width:550px;}}
@media (max-width:860px) {.art001 {display:none;}
.mainBanner .txtCont .txt2 {margin-bottom:0;}
.mainBanner .txtCont {margin-left:auto;margin-right:auto;text-align:center;}}
@media (min-width:860px) {.art003 {display:none;}}
@media (max-width:700px) {.art003 {width:100%;}
header .wideMenu .addCont {min-width:200px;}
.wideMenu .teleph {display:none;}
.mainBanner .hCont>* {width:100%;}
.mainBanner .hCont input {margin:10px auto;}}
@media (max-width:450px) {.wideMenu .button {display:none;}
header .wideMenu .addCont {min-width:0;}}

.burgerMenu {position:fixed;top:0;right:0;z-index:20;padding:40px 24px 24px;transform-origin:center top;
display:flex;width:480px;flex-direction: column;justify-content: space-between;align-items: center;background: var(--dark_bg);}
.burgerMenu.dispNon {display:none;}
.burgerMenu .logo {width:42px;height:48px;margin-bottom:64px;}
.burgerMenu .options {margin-bottom:114px;}
.burgerMenu .socN {margin:0 -8px 50px -8px;}
.socN>* {margin:0 8px;width:40px;height:40px;}
.burgerMenu .options>*, header .burgerMenu .teleph {margin:14px 0;}
.burgerMenu .closCr {position:absolute;top:24px;right:24px;
width:48px;height:48px;padding:12px;border-radius: 4px;cursor:pointer;}
.burgerMenu .closCr:hover {background:var(--vivid-blue-p);}
@media (max-width:480px) {header .burgerMenu {width:100%;}}

button, .button {display:flex;justify-content:center;align-items:center;flex-wrap:wrap;cursor:pointer;white-space:wrap;
font-weight:700;text-align:center;text-transform:uppercase;border:none;border-radius:4px;}
.butBlue {background:var(--vivid-blue);color: var(--white);}
.butBlack {border: 1px solid rgba(70, 162, 248, 0.60);background:transparent;color:var(--blue);}
.butBlack2 {background:#1D2026;color:#8ED1FC;}
.butBlue:hover {background: var(--blue, #46A2F8);box-shadow: 0px 0px 0px 4px rgba(50, 131, 245, 0.30);}
.butBlack:hover {background: var(--blue, #46A2F8);box-shadow: 0px 0px 0px 4px rgba(50, 131, 245, 0.30);color: var(--white);}
button.smalBut, .button.smalBut {min-width:136px;padding:10px;font-size:13px;min-height:40px;line-height:20px;}
.bigBut {width:300px;height:64px;padding:0 10px;font-size:14px;}
input[type="tel"], input[type="text"] {width:300px;height:64px;padding:20px 24px;
font-size:17px;border:none;border-radius: 4px;}
.inpBlack {color: var(--white);background: rgba(190, 212, 255, 0.10);}
.inpWhite {background:rgba(255, 255, 255, 0.90);color:#1D2026;}
@media (max-width:1024px) {button.bigBut, .button.bigBut, input[type="tel"], input[type="text"] {height:56px;}}
@media (max-width:360px) {header .burgerMenu {width:100%;padding:40px 5px 24px 5px;}}

form.reg {display:flex;justify-content:space-between;align-items:flex-start;}
form.regF2>* {width:48%;}
form.regF3>* {width:31%;}
form.reg input[type="tel"], form input[type="text"] {border-radius: 4px;border:none;}
form.reg input[type="submit"] {}
@media (max-width:900px) {form.reg>* {width:45%;}
form.reg>*:nth-last-child(n + 2)  {margin:0 0 20px 0;}
form.reg>*:last-child {margin:0 auto;}}
@media (max-width:700px) {form.reg>* {width:100%;}}

.promo .options {align-items:start;}
.promo .mnUnt {display:flex;flex-direction:column;justify-content:center;align-items:start;
color: var(--white, #FFF);font-size:16px;line-height: 24px;width:23.5%;margin:12px 0;}
.promo .mnUnt img {width:72px;height:72px;margin:0 24px 8px 0;}
.promo .mnUnt div {width:100%;}
@media (max-width:900px) {
.promo .mnUnt {flex-direction:row;align-items:center;}
.promo .mnUnt {width:49%;}}
@media (max-width:600px) {.promo .mnUnt {width:100%;}}

.promo2 .mnUnt {align-items:center;text-align:center;margin:10px 0 ;padding: 24px 24px 32px 24px;
border-radius: 16px;background: var(--dark_bg);}
.promo .mnUnt img {margin:0 0 8px 0;}
.promo2 .mnUnt div {width:100%;height:54px;display:flex;flex-direction:column;justify-content:center;}
.promo .mnUnt span {font-size: 20px;font-weight: 600;}
@media (max-width:1086px) {.promo2 .mnUnt {padding: 24px 16px 32px 16px;}}
@media (max-width:900px) {.promo2 .mnUnt {text-align:left;}
.promo .mnUnt img {margin:0 16px 0 0;}}
@media (min-width:600px) {.promo2 {font-size:20px;}}

.profSrc {font-size:16px;text-align:center;}
.profSrc .wrapG {padding:2.5rem 20px;border-radius:16px;background:var(--dark_bg);}
.profSrc .wrapG>* {margin:0 auto 1.25rem auto;}
.profSrc .wrapG>*:last-child {margin-bottom:0;}
.profSrc .button {max-width:300px;}

.profSrc h2 span, .profSrc .postTit span {color: var(--light-green-cyan);}
.profSrc .subTit {color:var(--white);}
.profSrc .subTit span {font-weight:700;}
.profSrc .hCont {align-items:start;}
.profSrc .options {width:50%;}
.profSrc .vidCont {width:48%;;}
.profSrc .options {text-align:left;}
.profSrc ol {list-style:none;counter-reset:myCoun;}
.profSrc li {counter-increment:myCoun;margin:1em 0;padding-left:2em;position:relative;}
.profSrc li::before {position:absolute;top: -0.25em;left: -0.5em;
content:counter(myCoun);display:inline-block;width:2em;height:2em;margin-right:0.5em;
border-radius:2em;background:#0C0F14;color:var(--blue);text-align:center;font-weight:700;line-height:2em;}
.profSrc .postTit {font-size:20px;color:var(--white);max-width:795px;}
.profSrc .vidCont {width:48%;position:relative;overflow:visible;display:flex;justify-content:end;align-items:start;}
.vidWind {width:100%;aspect-ratio:54/36;display:flex;justify-content:center;align-items:center;
border-radius: 12px;background: #2E3138;box-shadow: 0px 16px 80px 0px rgba(0, 0, 0, 0.25);}
@media (max-width:900px) {.profSrc .options {margin-bottom:40px;}
.profSrc .hCont {justify-content:center;align-items:center;flex-direction:column-reverse;}
.profSrc .options, .profSrc .vidCont {width:480px;}}
@media (max-width:700px) {.profSrc .postTit {font-size:16px;}}
@media (max-width:530px) {.profSrc .options, .profSrc .vidCont {width:100%;}}
@media (min-width:1200px) {.profSrc .hCont>* {min-height:360px;}
.profSrc .vidWind {width:540px;position:absolute;top:0;right:0;}
.profSrc .vidCont {width:45%;}}

.strateg {font-size:16px;color:var(--GreyText);}
.strateg h2 {margin-bottom:0.75rem;}
.strateg h2 span:nth-of-type(1) {color: var(--light-blue);}
.strateg h2 span:nth-of-type(2) {color: var(--light-green-cyan);}
.strateg h2, .strateg .subTit, .strateg .postTit {text-align:center;}
.strateg .subTit {margin-bottom:1.25rem;}
.strateg .options {margin:1.25rem 0;gap:20px;align-items:stretch;}
.strateg .mnUnt {align-items:start;flex-wrap:nowrap;width:calc(50% - 10px);padding:40px 32px 32px;
border-radius:12px;background:var(--dark_bg, #15181D);}
.strateg .mnUnt .hCont {justify-content:start;flex-wrap:nowrap;}
.strateg .mnUnt .hCont img {width:48px;height:48px;margin-right:24px;}
.strateg .mnUnt .hCont div {font-size:20px;font-weight:600;line-height:28px;color:var(--white);}
.strateg .mnUnt .mTxt {margin:10px 0; flex: 1 0 auto;}
.strateg .button {width:143px;}
@media (max-width:700px) {
.strateg .mnUnt {width:100%;padding:24px;}
.strateg .button {width:100%;}
.strateg .mnUnt .hCont div {font-size:16px;line-height:24px;}}

.bePlus {position:relative;}
.bePlus .wrapG {font-size:20px;text-align:center;}
.bePlus .subTit span {font-size:1.1875rem;font-weight:700;color:var(--blue);}
.bePlus .subTit:nth-of-type(1)  {margin-bottom:0.25rem;}
.bePlus .graphics {width:100%;line-height:0;}
.swBut {display:inline-block;margin:0 auto 24px auto;width:600px;}
.swBut>div {justify-content:center;width:33.33%;float:left;height:48px;}
.swBut>div {color: var(--white, #FFF);font-size:14px;line-height:14px;font-weight:700;text-transform:uppercase;
border: 1px solid rgba(70, 162, 248, 0.60);background:transparent;color:var(--blue);padding:0 5px;}
.swBut>div.selected {background:var(--vivid-blue);border:1px solid var(--vivid-blue);color:var(--white);}
.swBut>div:first-child {border-radius:4px 0 0 4px;}
.swBut>div:last-child {border-radius:0 4px 4px 0;}
@media (max-width:620px) {.swBut {width:100%;}}
.dotFrmBlu {background:url(../images/rndBlu.svg) left top repeat;width:200px;height:160px;opacity:0.2;position:absolute;}
.dotFrmBlck {background:url(../images/rndBlck.svg) left top repeat;width:200px;height:160px;opacity:0.3;position:absolute;}
.bePlus .dotFrmBlck {top:37%;left:calc(((100% - 1060px)/2) - 40px);z-index: -1;}
@media (max-width:900px) {.bePlus .dotFrmBlck {left: -50px;}
.bePlus .wrapG {font-size:16px;}}

.calcul h2 {text-align:center;margin-bottom:0.5rem;}
.subTitImg {display:flex;justify-content:center;align-items:center;font-size:20px;margin-bottom:1.25rem;}
.subTitImg img {margin-right:24px;}
.calcul .subTitImg span {color: var(--light-green-cyan);font-size:1.6em;font-weight:700;line-height:2.1em;}
.calcul .calcBd {padding: 56px 80px 40px 80px;color:var(--white);
border-radius: 16px 16px 0px 0px;background: var(--vivid-blue, #3283F5);box-shadow: 0px 16px 80px 0px rgba(0, 0, 0, 0.25);}
.calcul  form {padding: 40px 80px;border-radius: 0px 0px 16px 16px;background: #054EB5;}
.calcul .calcBd .subTit {font-size:24px;font-weight:700;margin-bottom:24px;}
.calcul .calcBd>.hCont {align-items:start;}
.calcul .flds {width:60%;}
.calcul .flds>div {width:48%;}
.calcul .flds>div {margin-bottom:16px;}
.calcul .flds .parName {font-size:14px;font-weight:500;line-height:18px;margin-bottom:7px;opacity:0.8;}
.calcul .flds .param {height:48px;padding: 11px 16px;border-radius: 4px;background: var(--white);
color: var(--bg, #1D2026);font-size:17px;font-weight: 500;}
.calcul .result {border-radius:4px;background:#054EB5;width:32%;padding:16px 24px;margin-top:25px;}
.calcul .result>div {margin-bottom:17px;width:100%;}
.calcul .result .parName {font-size:14px;font-weight:500;margin-bottom:7px;}
.calcul .result .param {font-size:14px;font-weight:500;}
.calcul .result .param span {font-size:24px;font-weight:700;}

@media (max-width:1024px) {.calcul .calcBd {padding: 56px 64px 40px 64px;}
.calcul form {padding: 40px 64px;}}
@media (max-width:900px) {.calcul .calcBd {padding: 40px 56px;}
.calcul form {padding: 30px 56px;}
.calcul .flds, .calcul .result {width:100%;}
.calcul .result>div {margin-bottom:0;width:50%;}}
@media (max-width:600px) {
.calcul .calcBd {padding: 40px 10%;}
.calcul form {padding: 30px 10%;}
.calcul .calcBd>.hCont {justify-content:center;}
.calcul .flds {justify-content:center;}
.calcul .flds>div, .calcul .result {width:100%;}
.calcul .result>div {margin-bottom:17px;width:100%;}}
@media (max-width:600px) {.calcul .calcBd {padding: 32px 16px;}
.calcul form {padding: 22px 16px;}}
@media (min-width:600px) {.calculator {font-size:20px;}}

.crHelp .Tit {color: var(--light-green-cyan);font-size:24px;font-weight:700;line-height:32px;}
.crHelp .subTit {font-size:20px;line-height:28px;margin-bottom:24px;color:var(--white);}
.crHelp .ol {color: var(--GreyText);}
.crHelp .leftCol {width:607px;width:58%;}
.crHelp .rightCol {width:333px;text-align:center;
padding: 48px 40px 56px 40px;border-radius:16px;background:var(--Blue_dark);}
.crHelp .rightCol>div:nth-of-type(1) {font-size:24px;font-weight:700;line-height:32px;}
.crHelp .rightCol>div:nth-of-type(2) {color: var(--light-green-cyan);font-size:20px;line-height:28px;}
.octMark {list-style:none;}
.octMark li {margin:12px 0;padding-left:36px;position:relative;}
.octMark li::before {position:absolute;top:2px;left:0;content:url(../images/octMark.svg);width:20px;height:20px;}
@media (max-width:900px) {.crHelp .leftCol {width:100%;}
.crHelp .rightCol {width:100%;}}
@media (max-width:400px) {.crHelp .rightCol {padding:40px 24px;}}

.walOn .cont {padding:2rem 2.5rem;border-radius:16px;background: var(--dark_bg);position:relative;}
.walOn .cont>* {position:relative;z-index:2;}
.walOn .subTit {margin-top:0.5rem;}
.walOn form {margin-top:1.25rem;}
.walOn .cont>.art005 {position:absolute;top:100px;right:100px;z-index:1;}
.walOn .cont>.art006 {position:absolute;top:-20px;right: -30px;z-index:1;}
.walOn .cont>.art007 {position:absolute;top:155px;right:20px;z-index:1;}
@media (max-width:600px) {.walOn .cont {padding:24px 16px;}
.walOn .cont>.art005 {top:50px;}
.walOn .cont>.art007 {top:100px;}}
.walOn.blu .cont {background: var(--vivid-blue);box-shadow: 0px 16px 80px 0px rgba(0, 0, 0, 0.25);}

.diverce {text-align: center;}
.diverce .wrapG {margin:3.125rem auto 1.25rem auto;}    
.diverce .subTit {color: var(--light-green-cyan);font-size:32px;line-height:42px;margin-top:8px;}
.diverce .cont>div:nth-child(1) {font-size:24px;font-weight:700;line-height:32px;margin-bottom:40px;color:var(--white);}
.diverce .cont>div:nth-child(3) {color: var(--GreyText);font-size:16px;line-height:24px;margin-top:40px;}
.diverce .cont {padding: 40px 80px;border-radius: 16px;background: var(--dark_bg);margin-top:40px;position:relative;}
.diverce .crpV {margin:0 auto;width:602px;}
.diverce .crpV>* {display:block;width:72px;height:72px;margin:5px;}
@media (max-width:800px) {
.diverce .cont {padding: 40px 24px;margin-top:24px;}
.diverce .subTit {font-size:24px;line-height:32px;margin-top:8px;}
.diverce .cont>div:nth-child(1) {font-size:20px;font-weight:600;line-height:28px;margin-bottom:24px;}
.diverce .cont>div:nth-child(3) {margin-top:24px;}
.diverce .crpV {margin:0 auto;width:300px;}
.diverce .crpV>* {width:40px;height:40px;}}
@media (max-width:390px) {.diverce .crpV {width:100%;justify-content:space-around;}}
.diverce .dotFrmBlu {top: -60px;left: -120px;z-index: -1;}

.logos .wrapG {margin:0.9rem auto;}
.logos .mnUnt {margin:10px 0;display:flex;justify-content:center;align-items:center;
background: #292C36;color: var(--text_secondary, #8A94A7);text-align:center;
font-size: 17px;font-weight: 700;line-height: 24px;text-transform:uppercase;}
.logos .line1 .mnUnt {height:72px;width:15%;}
.logos .line2 .mnUnt {height:56px;width:13%;}
.logos .line1 .mnUnt img {height:62px;}
.logos .line2 .mnUnt img {height:46px;}
@media (max-width:800px) {
.logos .mnUnt {display:none;}
.logos .line1 .mnUnt:nth-last-child(n + 2) {display:flex;width:18%;height:46px;}
.logos .line2 .mnUnt:nth-last-child(n + 2) {display:flex;width:14%;height:38px;}
.logos .line1 .mnUnt img {height:36px;}
.logos .line2 .mnUnt img {height:28px;}}
@media (max-width:500px) {
.logos .line1 .mnUnt:nth-child(n + 1) {display:flex;width:30%;height:38px;}
.logos .line2 .mnUnt:nth-child(n + 4) {display:none;}
.logos .line2 .mnUnt:nth-last-child(n + 5) {display:flex;width:30%;}
.logos .line1 .mnUnt img {height:28px;}}

.scrolCont {display:block;white-space:nowrap;overflow-x: auto;overflow-y: hidden;-ms-overflow-style: none;}
.scrolCont>div {display:inline-block;vertical-align:top;width:100%;height:100%;}
.scrolCont>div>* {white-space:normal;}
.scrolCont img {object-fit:contain;max-width:100%;max-height:100%;}
.hScrol .arrLeft, .hScrol .arrRight {position:absolute;}
.hScrol .arrLeft, .hScrol .arrRight {width:56px;height:56px;padding:16px;border-radius:50px;cursor:pointer;}
.hScrol .arrLeft {background:url(../images/arrLeft.svg) center center no-repeat, rgba(21, 24, 29, 0.70);left: -28px;top:calc(50% - 28px);}
.hScrol .arrRight {background:url(../images/arrRight.svg) center center no-repeat, rgba(21, 24, 29, 0.70);right: -28px;top:calc(50% - 28px);}
.noScrolBar .scrolCont {scrollbar-width: none;}
.noScrolBar .scrolCont::-webkit-scrollbar {display: none;}

.allInOn .hScrol {width:422px;height:440px;position:relative;}
.allInOn .scrolCont {width:100%;height:100%;}
.allInOn .scrolCont>div {border-radius:12px;background: #2E3138;box-shadow: 0px 16px 80px 0px rgba(0, 0, 0, 0.25);text-align:center;}
.descr {width:calc(93% - 422px);}
.descr>* {margin-bottom:16px;width:100%;}
@media (max-width:1040px) {
.allInOn .hScrol {width:390px;height:407px;}
.allInOn .descr {width:calc(93% - 390px);}}
@media (max-width:800px) {
.allInOn .hCont {flex-direction:column-reverse;}
.allInOn .hScrol {width:100%;}
.allInOn .scrolCont>div {width:390px;}
.allInOn .descr {width:100%;}}
@media (max-width:500px) {
.allInOn .hScrol {height:250px;}
.allInOn .scrolCont>div {width:240px;}
.descr .imgDiv {text-align:center;}
.descr img {margin:0 auto;}}

.artLogo {background:url(../images/logo.svg) center center no-repeat;background-size:contain;}
.art008 {background:url(../images/art008.svg) center center no-repeat;background-size:contain;}
.art009 {background:url(../images/art009.svg) center center no-repeat;background-size:contain;}
.artAPI {background:url(../images/API.svg) center center no-repeat;background-size:contain;}
.artAPIg {background:url(../images/APIgreen.svg) center center no-repeat;background-size:contain;}

.saveAcs .hCont {align-items:stretch;}
.saveAcs .leftCol {width:53%;}
.saveAcs .rightCol {width:41%;position:relative;}
.saveAcs .artCont {position:absolute;top:10%;left:0;z-index: -1;}
.artCont01 {width:400px;height:400px;}
.artCont01 .dotFrmBlu {width:50%;height:40%;top:15.6%;right:0;}
.artCont01 .dotFrmBlck {width:50%;height:40%;top:38.2%;left:0;}
.artCont01 .roundBlu {width:10.8%;height:10.8%;top:6.4%;right:24.7%;}
.artCont01 .roundLitGre {width:5.6%;height:5.6%;top:63.8%;right:11.2%;}
.artCont01 .artLogo {width:32.8%;height:37.6%;top:31.5%;right:30.9%;}
.artCont01 .art008 {width:21.8%;height:21.8%;top: -0.5%;left:19%;}
.artCont01 .art009 {width:16.7%;height:24%;top:66.1%;left:13.6%;}
.artCont01 .artAPI {width:25%;height:14.3%;bottom:0;right:3.3%;}
.artCont01 .artAPIg {width:25%;height:14.3%;bottom:0;right:3.3%;display:none;}

.saveAcs .row2 .subTit {font-size:20px;line-height:28px;width:calc(100% - 350px);}
.saveAcs .row2 .subTit span {color:var(--white);font-size:24px;font-weight:700;line-height:32px;}

.spurt h2 {text-align: center;margin-bottom:1.25rem;}
.spurt span {color: var(--light-green-cyan);}
.spurt .hCont {align-items:stretch;gap:20px;}
.spurt .mnUnt {width:calc(33.33% - 14px);padding:24px 32px 32px 32px;
border-radius:16px;background:rgba(50, 56, 70, 0.30);}
.spurt .mnUnt img {width:48px;height:48px;}
.spurt .mnUnt .subTit {color: var(--white);font-size:20px;font-weight:600;line-height:28px;margin:8px 0;}
.spurt .mnUnt .mTxt {color: var(--text_secondary);}
@media (max-width:900px) {.spurt .hCont {justify-content:center;}
.spurt .mnUnt {width:calc(50% - 10px);padding:16px;}}
@media (max-width:500px) {.spurt .mnUnt {width:100%;padding:16px;}}

.treiders h2 {text-align: center;margin-bottom:1.25rem;}
.treiders .button {width:300px;margin:1.7rem auto 0 auto;}
.treiders .hCont {display:flex;flex-wrap:nowrap;align-items:stretch;gap:20px;}
.treiders .scrolCont {align-items:stretch;}
.treiders .scrolCont>div {height:auto;}

.treiders .feedBk {width:auto;margin:0 10px 10px 10px;}
/*.treiders .feedBk>* {height:548px;}*/
.treiders .feedBk>* {height:100%;}
.treiders .feedBk .vCont .txt {height:428px;}

.treiders .feedBk .vCont {width:560px;align-items:start;flex-wrap:nowrap;align-items:start;overflow:visible;
padding:40px 32px 32px 32px;border-radius:8px;background:var(--dark_bg);text-align:left;}
.treiders .feedBk .vCont>* {white-space:normal;}
.treiders .feedBk .tit {color: var(--white);font-size:20px;font-weight:600;line-height:28px;margin-bottom:1em;}
.treiders .feedBk .txt {flex-grow:3;flex-shrink:1;overflow-y:auto;}
.treiders .feedBk .txt h4 {font-weight:600;}
.treiders ul, .treiders br {margin-bottom:1em;}
.treiders .feedBk span {color: var(--light-green-cyan);font-weight:700;}
.treiders .bot {width:400px;padding: 40px 40px 32px 40px;color: var(--white);text-align: center;
border-radius: 8px;background: var(--Blue_dark);}
.treiders .bot .tit {font-size:20px;font-weight:600;line-height: 28px;}
.treiders .bot .txt {font-size:32px;font-weight:700;line-height: 42px;}
.treiders .bot img {margin:10% auto 20% auto;}
@media (max-width:1024px) {
/*.treiders .feedBk .vCont {width:524px;}*/
.treiders .feedBk .vCont .txt {height:404px;}
}
@media (max-width:900px) {
/*.treiders .feedBk .vCont {width:480px;}*/
.treiders .feedBk .vCont .txt {height:360px;}
}
@media (max-width:600px) {
/*.treiders .feedBk>* {height:320px;}*/
.treiders .feedBk .vCont .txt {height:200px;}

.treiders .feedBk .vCont, .treiders .feedBk .bot  {width:280px;padding:24px 16px;}
.treiders .feedBk .tit {font-size:16px;}
.treiders .feedBk .txt {font-size:14px;}
.treiders .bot .txt {font-size:20px;font-weight:600;line-height:28px;}
.treiders .bot img {margin:5% auto 10% auto;}}

.bDisk {list-style:none;}
.bDisk li {padding-left:18px;position:relative;}
.bDisk li::before {position:absolute;top:6px;left:0;content:"";background:var(--GreyText);width:0.7em;height:0.7em;border-radius:100%;}

.videoFBck .feedBk {max-width:530px;padding:0 10px;}
.videoFBck .feedBk .txt {margin:10px 0;}

.audioFBck .feedBk {width:230px;height:82px;margin:0 17px;}
.audioFBck .scrolCont {margin:0 -17px;}
.audioFBck .player {width:230px;height:48px;border-radius:24px;background: rgba(41, 49, 66, 0.50);position:relative;}
.audioFBck .feedBk .txt {margin:0 0 8px 10px;}
.audioFBck .player>* {position:absolute;}
.playBut, .playButHover, .playButPress, .pauseBut, .pauseButHover, .pauseButPress {top:8px;left:8px;}
.audioFBck .player .Waveform {top:8px;left:52px;}
.audioFBck .player .tlap {top:11px;right:48px;}
.Volume, .VolHover, .VolMuted {top:12px;right:12px;}
.playButHover, .playButPress, .pauseBut, .pauseButHover, .pauseButPress, .VolHover, .VolMuted {display:none;}
@media (max-width:500px) {
.audioFBck .scrolCont {width:100%;height:200px;margin:0;overflow-x:hidden;overflow-y:auto;}
.audioFBck .feedBk {display:block;width:100%;margin:10px 0;}
.audioFBck .player {width:100%;}
.audioFBck .player .Waveform {width:calc(100% - 160px);height:32px;object-fit:fill;}}

.FBck .feedBk {width:auto;}
.FBck .feedBk .mTxt {width:420px;height:560px;border-radius: 12px;
background: var(--GreyText);box-shadow: 0px 16px 80px 0px rgba(0, 0, 0, 0.25);}
.FBck .feedBk:nth-child(even) .mTxt {background: var(--white);}
@media (max-width:500px) {.FBck .feedBk .mTxt {width:300px;height:420px;}}

.bluRing {background:url(../images/bluRing.svg) center center no-repeat;background-size:contain;}
.art010 {background:url(../images/art010.svg) center center no-repeat;background-size:contain;}

.artCont02 {width:400px;height:400px;}
.artCont02 .dotFrmBlck {width:50%;height:40%;top:0;left:0;}
.artCont02 .dotFrmBlu {width:50%;height:40%;bottom:0;right:5.5%;}
.artCont02 .artLogo {width:35%;height:40%;top:28.5%;right:32.5%;}
.artCont02 .roundLitGre {width:11.5%;height:11.5%;top:15.75%;left:15.25%;}
.artCont02 .roundBlu {width:6%;height:6%;top:70.5%;left:72%;}
.artCont02 .bluRing {width:20.75%;height:20.75%;top:27.25%;left:58.5%;}
.artCont02 .art010 {width:21.5%;height:24.5%;top:48.25%;left:17.75%;}

.cruePl .wrapG .hCont {flex-direction:row-reverse;align-items:stretch;}
.cruePl .leftCol {width:67%;}
.cruePl .rightCol {width:30%;position:relative;}
.cruePl	.artCont {position:absolute;top: -10%;left: -20%;z-index: -1;}
.cruePl .row2>div {margin:3.1rem auto;justify-content:center;}
.cruePl .row2>div>div{width:36px;height:36px;background:var(--text_secondary);margin:0 12px;}

@media (max-width:800px) {.saveAcs .button {margin:0 auto;}
.saveAcs .hCont>*, .saveAcs .row2 .subTit {width:100%;margin-bottom:16px;}
.saveAcs .rightCol {height:240px;text-align:center;}
.saveAcs .artCont {width:240px;height:240px;top:0;left:calc(50% - 120px);}
.artCont01 .artAPI {display:none;}
.artCont01 .artAPIg {display:block;bottom:24%;}
.artCont01 .roundLitGre {top:35%;right:39%;}
.artCont01 .artLogo {right:40%;}
.artCont01 .roundBlu {top:70%;right:90%;}
.artCont01 .art009 {top:30%;left:15%;}}
@media (max-width:500px) {.saveAcs .row2 .subTit {font-size:16px;}
.saveAcs .row2 .subTit span {font-size:20px;}}

.priceList {text-align: center;}
.priceList .subTit {font-size:20px;line-height:28px;margin:0.75rem 0 40px 0;}
.priceList .subTit span {color: var(--light-green-cyan);}
.priceList .options {margin: -10px 0;}
.priceList .mnUnt {width:24%;padding: 32px 24px 24px 24px;margin:10px 0;
border-radius: 12px;background: var(--dark_bg);}
.priceList .priceVar {color: var(--light-green-cyan);font-size: 20px;font-weight: 600;line-height:28px;margin-bottom:8px;}
.priceList .mnUnt:nth-child(2) .priceVar {color: var(--blue);}
.priceList .mnUnt:nth-child(3) .priceVar {color: #B682EB;}
.priceList .mnUnt:nth-child(4) .priceVar {color: #EEAD0D;}
.priceList .price {color: var(--white);font-size:24px;font-weight:500;line-height:24px;}
.priceList .price span {font-size:32px;font-weight:700;line-height:32px;}
.priceList .time {font-size:14px;font-weight:500;line-height:18px;margin-bottom:24px;}
@media (max-width:800px) {.priceList .mnUnt {width:48%;}}
@media (max-width:500px) {.price .subTit {font-size:16px;}
.priceList .mnUnt, .priceList .button {width:100%;}}

.FAQ h2 {text-align:center;}
.FAQ .subTit {color: var(--white);font-size:24px;font-weight:500;line-height:32px;text-align:center;margin:8px 0 40px 0;}
.FAQ .subTit img {display:inline-block;vertical-align:middle;margin-right:8px;}
.FAQ .subTit div {display:inline-block;}
.FAQ .subTit div:nth-child(1) span {color: var(--blue);}
.FAQ .subTit div:nth-child(2) span {color: var(--light-green-cyan);}
.FAQ .qAns {position:relative;cursor:pointer;width:100%;text-align:left;}
.FAQ .Que {color: var(--white);font-size:20px;font-weight:600;line-height:28px;width:100%;padding:15px 60px 15px 25px;}
.FAQ .Ans {overflow:hidden;width:100%;padding:0 60px 20px 45px;transform-origin:0 0;text-align:justify;}
.FAQ .wrapArr {position:absolute;top:22px;right:15px;width:32px;height:32px;background: url(../images/plus.svg) center center no-repeat;}
.FAQ .wrapArr.ArrUp {transform:rotate(135deg);}
.FAQ .button {margin:1.25rem auto 0 auto;}
@media (max-width:700px) {.FAQ h2, .FAQ .subTit {text-align:left;}
.FAQ .subTit div {width:100%;}}
@media (max-width:500px) {.FAQ .Que {font-size:16px;padding:10px 40px 0 0;}
.FAQ .Ans {padding:8px 0 10px 10px;}
.FAQ .wrapArr {top:9px;right:5px;}}

footer .wrapG {margin:1.25rem auto;}
footer .wideMenu, footer .logo img {margin:0;}
footer .wideMenu>div>div>* {margin-top:12px;margin-bottom:12px;}
footer .socN {margin:0 -8px;}
footer .socN>* {width:32px;height:32px;}
footer .wideMenu:nth-child(2) .addCont {min-width:500px;}
footer .wideMenu .cRit {color:var(--text_secondary);font-size:14px;font-weight:500;line-height:18px;}
footer .addCont .writeUs {color:var(--blue);font-size:14px;font-weight:500;line-height:18px;letter-spacing:0.56px;}
@media (max-width:900px) {footer .wideMenu .cRit, footer .wideMenu:nth-child(2) .addCont {width:100%;min-width:0;}}
@media (max-width:600px) {footer .wrapG {text-align:center;}
footer .wideMenu>div, footer .wideMenu:nth-child(2)>div>div {margin-left:auto;margin-right:auto;width:100%;}
footer .socN, footer .logo a {margin-left:auto;margin-right:auto;}
footer .wideMenu .hCont {justify-content:space-around;}}

@media (max-width:360px) {.bigBut, input[type="tel"] {width:100%;}}

/*===============*/
.clearFlow:after {
   content: '';
   display: block;
   height: 0; 
   clear: both;}
