@font-face {
  font-family: 'Manrope';
  font-weight: 200;
  font-style: normal;
  src: url(../fonts/Manrope-ExtraLight.ttf);}
@font-face {
  font-family: 'Manrope';
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/Manrope-Light.ttf);}
@font-face {
  font-family: 'Manrope';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Manrope-Regular.ttf);}
@font-face {
  font-family: 'Manrope';
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Manrope-Medium.ttf);}
@font-face {
  font-family: 'Manrope';
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Manrope-SemiBold.ttf);}
@font-face {
  font-family: 'Manrope';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Manrope-Bold.ttf);}
@font-face {
  font-family: 'Manrope';
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/Manrope-ExtraBold.ttf);}
@font-face {
  font-family: 'Nunito';
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/Nunito-ExtraBold.ttf);}


body {text-align:left; font-family: 'Manrope', sans-serif;font-weight: 700;color: #212121;}
body * {box-sizing:border-box;}
body>* {width:100%;}
.wrap1 {max-width:1182px;margin:0 auto;padding:0 5px;overflow:hidden;}
button {cursor: pointer;
height: 50px;border-radius: 50px;border: none;
padding:0 25px;
background: #1E7CCF;color:white;
font-family:'Manrope', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;}
button a {text-decoration:none;color:white;}
img {max-width:100%;}

.Tit1 {line-height:47px;font-size:40px;font-weight:800;}
.Tit2 {font-size: 21px;font-weight: 400;line-height: 30px;margin-top:21px;}

.MainTit {text-align:left;background: #F2F7FD;}
.MainTit .wrap1>* {display:inline-block;}
.MainTit .wrap2 button {margin-top:31px;}
.MainTit .wrap2 {max-width:613px;margin-top:110px;}
.MainTit img {margin:67px 0 65px 0;float:right;}
@media (max-width: 900px) {.MainTit .wrap2 {margin-top:40px;}}
@media (min-width: 900px) {.MainTit .Tit1 {line-height: 55px;font-size: 45px;}}

.PresentInstr {margin:59px 0 80px 0;}
.PresentInstr .Tit2 {margin-top:11px;
font-size: 20px;
font-weight: 500;
line-height: 24px;}
.PresentInstr .Tit2 span {color:#1E7CCF;}
.PresentInstr .blockCont.wrap1 {max-width:1216px;text-align:center;}
.PresentInstr .blockCont {margin-top:20px;}
.PresentInstr .blockCont>div {display:inline-block;text-align:left;
max-width: 571px;min-height: 265px;
background: #EEF1F4;border-radius:20px;border:none;
padding:33px 24px 24px 24px;
margin:15px;
vertical-align:top;}
.PresentInstr .blockCont>div>div {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
padding:17px 0 0 0;}


.YourClients {text-align:left;background: #1E7CCF;color:white;}
.YourClients .wrap1>* {display:inline-block;}
.YourClients .wrap2 {max-width:554px;margin:108px 0 0 0;}
.YourClients img {margin:60px 0 62px 0;float:right;}
.YourClients .Tit3 {margin-top:21px;
font-size: 16px;
font-weight: 500;
line-height: 24px;
position:relative;
padding-left:35px;}
.YourClients .Tit3::before {content:'';position:absolute;left:0;top:0;
width:28px;height:28px;background: url(../images/CheckWhite.png) center center no-repeat;}
@media (max-width: 900px) {.YourClients .wrap2 {margin:50px 0 0 0;}
.YourClients img {margin:35px 0;}}


.KnowSite {text-align:left;}
.KnowSite .wrap1>* {display:inline-block;}
.KnowSite .wrap2 {max-width:578px;margin:108px 0 0 0;float:right;}
.KnowSite img {margin:60px 0 62px 0;}
.KnowSite .Tit3 {margin-top:21px;
font-size: 16px;
font-weight: 500;
line-height: 24px;
position:relative;
padding-left:35px;}
.KnowSite .Tit3::before {content:'';position:absolute;left:0;top:0;
width:28px;height:28px;background: url(../images/CheckBlue.png) center center no-repeat;}

@media (max-width: 1120px) {.KnowSite .wrap2 {max-width:100%;margin:0 0 40px 0;}}


.Social {text-align:left;background: #F2F7FD;}
.Social .wrap1>* {display:inline-block;}
.Social .Tit2 {margin-top:15px;
font-size: 16px;
font-weight: 500;
line-height: 24px;}
.Social .wrap2 {max-width:579px;margin:60px 0 0 0;}
.Social img {margin:67px 0 65px 0;float:right;}

.NoteBbl {background: #F2F7FD;display:inline-block;}
.NoteB .wrap1 {max-width:1344px;overflow:hidden;margin-top:86px;position:relative;text-align:center;}
.NoteB .wrap1>* {display:inline-block;}
.NoteB .wrap1>img:nth-child(3) {position:absolute;left:calc(50% - 25px);top:calc(50% - 55px);}
@media (max-width: 720px) {.NoteB .wrap1>img:nth-child(3) {display:none;}
.NoteB .wrap1 {margin-top:10%;}}


.getAll {text-align:left;}
.getAll .wrap1>* {display:inline-block;}
.getAll .wrap2 {max-width:561px;margin:71px 0 76px 0;float:right;}
.getAll img {margin:66px 0 77px 0;}
.getAll .Tit2 {margin-top:23px;
font-size: 16px;
font-weight: 500;
line-height: 24px;}
.getAll .Tit3 {margin-top:14px;
color: #1E7CCF;
font-size: 18px;
font-weight: 600;
line-height: 26px;}
@media (max-width: 1140px) {.getAll img {margin:0 0 30px 0;}
.getAll .wrap2 {max-width:100%;margin:30px 0;float:none;}}


.FunctionaLE {padding:53px 0 89px 0;background: #F2F7FD;}
.FunctionaLE .Tit2 {margin-top:23px;
font-size: 20px;
font-weight: 500;
line-height: 24px;}
.FunctionaLE .blockCont.wrap1 {max-width:1216px;text-align:center;}
.FunctionaLE .blockCont {margin-top:20px;}
.FunctionaLE .blockCont>div {display:inline-block;text-align:center;
width: 570px;min-height: 322px;background:white;
border-radius: 20px;border: 1px solid #CED7E2;
padding:27px 35px;
margin:15px;
vertical-align:top;}
.FunctionaLE .blockCont>div>div:nth-child(1) {
width:65px;height:65px;border-radius:60px;border:none;background: #1E7CCF;
position:relative;float:left;}
.FunctionaLE .blockCont>div>div:nth-child(1) img {position:absolute;left:12px;top:12px;}
.FunctionaLE .blockCont>div>div:nth-child(2) {margin:20px 0;padding-left:75px;
color: #1E7CCF;text-transform:uppercase;text-align:left;
font-size: 18px;
font-weight: 800;
line-height: 24px;}
.FunctionaLE .blockCont>div>div:nth-child(3) {padding-top:8px;text-align:left;
font-size: 16px;
font-weight: 400;
line-height: 24px;}
.FunctionaLE .blockCont>div>img, .FunctionaLE .blockCont>div>button {display:block;margin:16px auto;}
@media (max-width: 640px) {.FunctionaLE .blockCont>div {width:90%;}}


.whyChoos {text-align:left;padding:60px 0 52px 0;}
.whyChoos .blockCont {margin-top:27px;}
.whyChoos .blockCont>div {
height: 290px;width: 100%;
border-radius:20px;border:1px solid #CED7E2;
margin:5px 0;overflow:hidden;}
.whyChoos .blockCont>div>* {display:inline-block;float:left;}
.whyChoos .blockCont>div>div {width:calc(100% - 331px);
height:calc(100% - 60px);overflow-y:auto;margin:30px;}
.whyChoos .blockCont>div>div>div:nth-child(1) {
color: #1E7CCF;
font-size: 18px;
font-weight: 800;
line-height: 24px;
text-transform:uppercase;}
.whyChoos .blockCont>div>div>div:nth-child(2) {
margin-top:7px;
font-size: 16px;
font-weight: 400;
line-height: 24px;}
@media (max-width: 600px) {.whyChoos .blockCont>div>img {display:none;}
.whyChoos .blockCont>div>div {width:calc(100% - 60px);}}


.detCompare {padding:38px 0 61px 0;background: #F2F7FD;}
.detCompare .StatCont {width:160px;float:left;}
.detCompare .ScrlCont {width:calc(100% - 160px);overflow-x:auto;overflow-y:hidden;}
.detCompare .Tit1 {margin-bottom:33px;}
.detCompare table {font-size:16px;font-weight:500;line-height:20px;text-align:center;}
.detCompare table td {vertical-align:middle;}
.detCompare table td {border: 1px solid #CED7E2;padding:5px;}
.detCompare table thead, .detCompare table tbody tr:first-child td, .detCompare .StatCont table td {text-align:left;padding:19px 17px;}
.detCompare .ScrlCont table td {width:16.66%}
.detCompare table tbody tr:nth-child(odd){background:white;}
.detCompare table thead {background: #1E7CCF;color:white;}
.detCompare table tbody tr:nth-child(3) td:nth-child(2) {color:red;}
.detCompare table tbody span{font-size:18px;font-weight:800;line-height:20px;}
@media (max-width:900px) {
.detCompare {padding:18px 0 25px 0;}
.detCompare .StatCont {width:120px;}
.detCompare .ScrlCont {width:calc(100% - 120px);}
.detCompare .Tit1 {margin-bottom:16px;}
.detCompare table {font-size:12px;line-height:16px;}
.detCompare table tbody span{font-size:14px;line-height:18px;}
.detCompare table thead, .detCompare table tbody tr:first-child td, .detCompare .StatCont table td {padding:7px;}}


.tested {padding:53px 0 62px 0;}
.tested .wrap1>div {float:left;}
.tested .cont {width:calc(100% - 302px);}
.tested .Lables {width:302px;text-align:center;margin-top:30px;}
.tested .cont>div>*:nth-child(1) {margin-top:30px;}
.tested .cont>div>div:nth-child(2) {margin-top:17px;
color: #1E7CCF;
text-transform:uppercase;
font-size: 18px;
font-weight: 800;
text-align: left;}
.tested .cont>div>div:nth-child(3) {margin-top:7px;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;}
@media (max-width:900px) {
.tested {padding:0;}
.tested .wrap1>div {float:none;}
.tested .Lables {width:534px;display:block;margin:0 auto;}
.tested .Lables>* {float:left;}
.tested .cont {width:100%;}}
@media (max-width:520px) {.tested .Lables {width:302px;}}


.feedBack {padding:38px 0 61px 0;background: #F2F7FD;display: inline-block;}
.feedBack .HScrol {margin:33px auto 0 auto;max-width:1358px;}
.feedBack .HScrol>div {display: inline-block;float:left;}
.feedBack .LArr, .feedBack .RArr {width:54px;margin-top:120px;}
.feedBack .LArr:hover, .feedBack .RArr:hover {cursor:pointer;}
.feedBack .ScrlCont {width:calc(100% - 148px);height:320px;margin:0 20px;white-space:nowrap;overflow-x:auto;overflow-y:hidden;}
.feedBack .ScrlCont>div{
display:inline-block;
white-space: normal;
position:relative;
width: 570px;
height:290px;
background: white;
border-radius: 20px;
border: 1px solid #CED7E2;
margin: 0 15px;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;}
.feedBack .ScrlCont>div>div{position:absolute;width:calc(100% - 60px);left:30px;}
.feedBack .ScrlCont>div>div:nth-child(1) {top:30px;}
.feedBack .ScrlCont>div>div:nth-child(2) {top:55px;font-weight:800;}
.feedBack .ScrlCont>div>div:nth-child(3) {top:90px;height:144px;overflow-y:auto;}
.feedBack .ScrlCont>div>div:nth-child(4) {bottom:25px;}
@media (max-width:760px) {
.feedBack {padding:18px 0 30px 0;}
.feedBack .HScrol>div.LArr, .feedBack .HScrol>div.RArr {display:none;}
.feedBack .HScrol {margin:16px auto 0 auto;}
.feedBack .ScrlCont {width:100%;margin:0;}
.feedBack .ScrlCont>div{width:calc(100% - 30px);}}


header, footer {font-size: 16px;font-weight: 400;}
header .wrap1>div, footer .wrap1>div {float:left;}
header a, footer a {text-decoration:none;}
.logoMenu {padding:44px 0 42px 0;}
.Logo>div:nth-child(1) {font-family: 'Nunito';font-size: 32px;font-weight: 800;line-height: 36px;}
.Logo>div:nth-child(2) {font-size: 16px;font-weight: 400;line-height: 24px;}
.Logo span {color:#1E7CCF;}
.Logo>div:nth-child(1) {display:inline-block;}
.sect {width:calc(100% - 530px);
font-size: 15px;font-weight: 400;line-height: 24px;text-transform:uppercase;}
.sect a {color: #212121;}
.sect .wrap2 {max-width:410px;margin:13px auto;}
.sect .wrap2>div {margin:0 10px;display:inline-block;}
header button, footer button {width:154px;height:50px;}
.Menu2 {padding:20px 0;border-top: 1px solid #CED7E2;}
.Menu2 .wrap1>div {padding:6px 0;}
.Menu2 .wrap1>div {width:100%;text-align:center;}
.Menu2 .wrap1>div:nth-child(1)>div {display:inline;}
.Menu2 .wrap1>div:nth-child(1)>div:nth-child(1) a {margin-right:10px;}
.Menu2 .wrap1>div:nth-child(1)>div:nth-child(2) a {margin-left:10px;}
.Menu2 .wrap1>div:nth-child(2) a {color:#1E7CCF;font-weight:600;}
.Menu2 .wrap1>div:nth-child(3) a {color:#1E7CCF;font-weight:600;}
@media (min-width:1070px) {.Menu2 .wrap1>div:nth-child(1)>div:nth-child(1)::after {content:'|';}}
@media (max-width:1070px) {
.Menu2 .wrap1>div:nth-child(1)>div {display:block;}
.Menu2 .wrap1>div:nth-child(1)>div:nth-child(1) a {margin-right:0;}
.Menu2 .wrap1>div:nth-child(1)>div:nth-child(2) a {margin-left:0;}}
@media (min-width:900px) {
.Menu2 .wrap1>div:nth-child(1) {width:41%;text-align:left;}
.Menu2 .wrap1>div:nth-child(2) {width:28%;text-align:center;}
.Menu2 .wrap1>div:nth-child(3) {width:31%;text-align:right;}}
footer>div:nth-child(3) {font-size:14px;height:39px;padding:14px;
color:white;background: #333333;text-align:center;}
@media (max-width:800px) {
.logoMenu {padding:22px 0 21px 0;}
.logoMenu .wrap1>div {width:100%;text-align:center;}
.Menu2 {padding:10px 0;}}

.clearFlow:after {
   content: '';
   display: block;
   height: 0; 
   clear: both;
}
