@import url('http://fonts.cdnfonts.com/css/next-art');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;900&family=Raleway:wght@300;500;700;800;900&display=swap" rel="stylesheet');
@font-face {
    font-family: 'NEXT ART';
    src: url('\assets\fonts\Nextartsemibold.woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NEXT ART';
    src: url('\assets\fonts\Nextartlight.woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NEXT ART';
    src: url('\assets\fonts\Nextart.woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NEXT ART';
    src: url('\assets\fonts\Nextartheavy.woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NEXT ART';
    src: url('\assets\fonts\Nextartbold.woff');
    font-weight: 300;
    font-style: normal;
}

.BoldTitls {
	font: 800  16pt Arial;
	color: #000;
	text-transform: uppercase;
	/*text-decoration: none;
	 font-weight: bold;
	font-style: normal;
	background-image: linear-gradient(to top, #FFECA0 5px, #FFECA0 15px, #FFF 15px, #FFF 30px);*/
}
.MidTxt {
	font: 14pt Arial;
	color: #000;
	font-weight: bold;
}
.LightTxt {
	font: 12pt Arial;
	color: #000;
	line-height: 2;
}
.NxArTit {
font-family: 'NEXT ART';
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 34px;
letter-spacing: 0.02em;
text-align: left;
background: linear-gradient(0,  rgba(255,255,255,0) 10%, #FFECA0 10%, #FFECA0 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
display: inline;
}
body {text-align: center;}
body > * {
	font-family: "NEXT-ART", Arial, sans-serif;
	background: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 80%;
	max-width: 1500px;
    margin: 100px auto;
    text-align: left;
    box-sizing: border-box;
}
@media (max-width: 600px) {body > * {width: 467px;}}
@media (max-width: 480px) {body > * {width: 100%;}}

.clearFlow:after {
   content: '';
   display: block; 
   height: 0; 
   clear: both;
}

/*===============*/
header.dispW {
	text-align: center;
    min-height: 50px;
	box-sizing: border-box;
}
header.dispW > div {
	text-align: center;
    width: 25%;
    min-width: 250px;
    height: 50px;
	display: inline-block;
	margin: 0;
	float: left;
	box-sizing: border-box;
	}
header.dispW > div > *, #burgerM > div > * {
	color: #000;
	text-decoration: none;
	border: none;
	font-size: 12pt;
	font-style: normal;
}
header.dispW > div:nth-child(1) {	text-align: left;}
header.dispW > div:nth-child(2) {	padding-top: 7px;}
header.dispW > div:nth-child(3) {	padding-top: 14px;}
header.dispW > div:nth-child(4) {	float: right;	text-align: right;	}

header select, #burgerM select {
    border-radius: 0;
    background: transparent;
    height: 34px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    width: 268px;
    	}
header.dispW > div:nth-child(1) > img {	height: 100%;	}
header.dispN { display: none;}

.blur {
	display: none;
	background: black;
	position: fixed;
	z-index: 90;
	width: 100%;
	height: 100%;
	margin: 0;
	left: 0;
	top: 0;
	opacity: 0;
	transition: opacity 0.5s;
}
#burgerM {
	display: none;
	position: fixed;
	z-index: 100;
	width: 80%;
	height: 200px;
	left: 10%;
	padding: 3%;
	box-sizing: border-box;
}
#burgerM > * {	margin-top: 1%;}
#burgerM > div:nth-child(2) {	padding-left: 5px;}
/*===================*/
@media (max-width: 660px) {
header.dispW { display: none;}
header.dispN { display: block;}
}
/*===============*/
header.dispN, header.dispN > div {
	text-align: center;
    min-height: 50px;
	box-sizing: border-box;
}
header.dispN > div {
	text-align: left;
	display: inline-block;
	float: left;
	}
header.dispN > div:nth-child(1) {    width: 85%;}
header.dispN > div:nth-child(2) {    width: 15%; padding-top: 9px;}
header.dispN > div:nth-child(2) > img {	width: 32px; cursor: pointer;}
header.dispN > div:nth-child(2) > img:hover {	background: #DDFBD0;	transition-duration: 0.3s;}

/*===============*/

.social a { display: inline-block; box-sizing: border-box; width: 44px;}
.social a img { display: inline-block; float: right;}
.social img:hover {	background: #DDFBD0;	transition-duration: 0.3s;}
.rowBlock > * {
    /*display: inline-block;*/
	box-sizing: border-box;
}
.buttn {
    display: inline-block;
	font: bold  14pt Arial;
	color: white;
	width: 232px;
	height: 54px;
	border-radius: 50px;
	background-color: #236967;
	border-style: none;
	text-align: center;
	text-decoration: none;
	font-style: normal;
	box-sizing: border-box;
}
a.buttn {	padding-top: 17px;}
.buttn:hover {
	background-color: #1c5553;
}
.buttn:active {
	background-color: #236967;
}

/*========ageSel==========*/
.ageSel > div {
	margin: 0 30px 30px 0;
	display: inline-block;
	position: relative;
	height: 150px;
	width: 250px;
	float: left;
}
.ageSel > div > a > img, .ageSel > div > a > div {
	position: absolute;
	display: inline-block;
}
.ageSel > div > a > div {
	width: 140px;
	left: 100px;
	bottom: 0;
	text-shadow: 0 0 6px white, 0 0 6px white, 0 0 6px white;
}
.ageSel a {text-decoration: none;}
/*========ageSel==========*/

.LetEnvis {
	width: 60%;
	margin: 150px auto;
	text-align: center;
}
.LetEnvis > div {
	display: inline-block;
	text-align: left;
	float: left;
	box-sizing: border-box;
}
.LetEnvis > div:nth-child(1) {
	width: 30%;
	min-width: 446px;
	margin: 0 10% 50px 0;
}
.LetEnvis > div:nth-child(2) {
	width: 50%;
	min-width: 300px;
	margin: 40px 0 0 0;
}
.LetEnvis > * > h1, .LetEnvis > * > h3 {
	margin: 40px 0 0 0;
}
@media (max-width: 1550px) {.LetEnvis > div {float: none;}}
@media (max-width: 1900px) {.LetEnvis > div:nth-child(2) {width: 40%;}}

/*==================*/

.bejRound {	background: #FFFBED;	border-radius: 70px;}
.YouCanLearn {
	min-height: 274px;
	padding-top: 50px;
}
.YouCanLearn > div { display: inline-block; width: 80%; margin: 0 10%;}
.YouCanLearn > div:nth-child(2) { text-align: center; margin-top: 30px;}
.YouCanLearn > div:nth-child(2) a {	display: inline-block;}
@media (max-width: 690px) {.YouCanLearn {height: 400px;}}

.lanSel {
	min-width: 220px;
	min-height: 50px;
	width: 24%;
}
.lanSel > * {	float: left;}
.lanSel span {
	text-align: left;
	margin-left: 15px;
	margin-top: 10px;

	color: #000;
	text-decoration: none;
	border: none;
	font-size: 14pt;
	font-style: normal;
}
/*===================*/
.whySpSc {
	width: 80%;
	text-align: left;
}
.whySpSc .rowBlock{ display: inline-block; float: left;}
.whySpSc .rowBlock:nth-child(1) .colBlock > div:nth-child(2){ text-align: justify;}
.whySpSc .rowBlock:nth-child(1){ width: 27%; margin-right: 8%; margin-bottom: 50px;}
.whySpSc .rowBlock:nth-child(2){ width: 65%;}
.whySpSc .rowBlock:nth-child(2) .colBlock{ 
	display: inline-block;
	float: left;
	width: 47%;}
.whySpSc .rowBlock:nth-child(2) .colBlock:nth-child(1){margin-right: 3%;}
.whySpSc .rowBlock:nth-child(2) .colBlock:nth-child(2){margin-left: 3%;}
.whySpSc .rowBlock:nth-child(2) .colBlock > div {
	width: 100%; min-height: 40px;
	display: inline-block;
	margin-bottom: 20px;}
.whySpSc .rowBlock:nth-child(2) .colBlock > div > * {float: left;}
.whySpSc .rowBlock:nth-child(2) .colBlock > div > img {width: 40px; margin-right: 20px;}
.whySpSc .rowBlock:nth-child(2) .colBlock > div > span {width: 75%;}

@media (max-width: 1050px) {
.whySpSc .rowBlock:nth-child(1){ width: 35%; margin-right: 5%;}
.whySpSc .rowBlock:nth-child(2){ width: 60%;}


.whySpSc .rowBlock:nth-child(2) .colBlock{ width: 100%;}
.whySpSc .rowBlock:nth-child(2) .colBlock:nth-child(1){margin: 0;}
.whySpSc .rowBlock:nth-child(2) .colBlock:nth-child(2){margin: 0;}
.whySpSc .rowBlock:nth-child(2) .colBlock > div > span {width: 85%;}
}
@media (max-width: 850px) {
.whySpSc .rowBlock:nth-child(1){ width: 100%; margin-right: 0;}
.whySpSc .rowBlock:nth-child(2){ width: 100%;}
}
@media (max-width: 540px) {.whySpSc .rowBlock:nth-child(2) .colBlock > div > span {width: 75%;}}
@media (max-width: 320px) {.whySpSc .rowBlock:nth-child(2) .colBlock > div > span {width: 65%;}}
@media (max-width: 220px) {.whySpSc .rowBlock:nth-child(2) .colBlock > div > span {width: 55%;}}

/*===================*/
.AdlItog {
	width: 80%;
	text-align: center;
	margin-left: 10%; margin-right: 10%;
}
.AdlItog .rowBlock {
	width: 80%;
	text-align: left;
	margin: 20px 5% 0 5%;
	display: inline-block;
}
.AdlItog .colBlock {
	min-width: 215px;
	float: left;
}
.AdlItog .colBlock:nth-child(1) {width: 30%; 	margin: 0 5% 15px 0;}
.AdlItog .colBlock:nth-child(2) {width: 60%;	margin: 0 0 15px 0;}
.AdlItog .colBlock:nth-child(2) > div {width: 31%; 	margin: 0 0 10px 0; float: left; min-width: 210px;}
.AdlItog .colBlock:nth-child(2) span{width: 70%; margin-left: 15px;}
.AdlItog .colBlock > div > * {	float: left;}
.AdlItog img {margin-top: 10px;}

@media (max-width: 1150px) {
.AdlItog .colBlock:nth-child(1) {width: 100%;}
.AdlItog .colBlock:nth-child(2) {width: 100%;}
}

/*===================*/
.comIn {text-align: center;}
.comIn .rowBlock {
	width: 100%;
	text-align: left;
	margin: 20px 5%;
	display: inline-block;
}
.comIn .colBlock {
	width: 40%;
	min-width: 300px;
	margin: 0 10% 0 0;
	float: left;
}
@media (max-width: 1000px) { .comIn .colBlock {	width: 100%;}}
.comIn .colBlock > * {	margin: 0 0 15px 0;	display: inline-block;}
.comIn .colBlock > div > * {	float: left;}
.comIn .colBlock > div > span {	margin-left: 15px;}
.comIn span{width: 80%; }

/*===================*/
.WeDoing .rowBlock {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.WeDoing .colBlock {
	width: 24%;
	min-width: 180px;
	height: 160px;
	display: inline-block;
	margin-top: 20px;
}
.WeDoing .colBlock > * {
	margin: 0 auto;
}
.WeDoing .Numb {
	height: 70px;
	width: 70px;
	border-radius: 50px;
		font-family: 'NEXT ART';
		font-size: 40px;
		font-style: normal;
		font-weight: 900;
		color: #FFF;
		line-height: 70px;
}
.WeDoing .colBlock:nth-child(1) .Numb {	background: #236967;}
.WeDoing .colBlock:nth-child(2) .Numb {	background: #FFCC1A;}
.WeDoing .colBlock:nth-child(3) .Numb {	background: #FC8B4C;}
.WeDoing .colBlock:nth-child(4) .Numb {	background: #FE7167;}

.WeDoing .colBlock .Descr {
	width: 180px;
}
/*=========================*/
.SingUp {
	height: 590px;
	background: #FFFBED;
	border-radius: 70px;
    background-image: url(../images/SingUp.svg);
    background-repeat: repeat-y;
    background-position: right center;
}
.SingUp form {
	height: 500px;
	width: 60%;
	float: left;
	margin: 40px 0 40px 7%;
}
label, input, button {	cursor: pointer;}
.RadioUnder input{appearance: none;} /* невидимая радиокнопка*/
.SingUp tr > * {text-align: center; vertical-align: bottom;}
.SingUp tr:nth-child(4) > * {vertical-align: middle;}
.SingUp .RadioUnder td div {
	width: 80%;
	margin: 0 10%;
	border-bottom: 4px solid #94C6C4;
	}
@media (max-width: 450px) { .SingUp .RadioUnder td div {width: 100%;	margin: 0;	}}
.SingUp table {	width: 100%; }
.SingUp tr { height: 70px; }
.SingUp tr:nth-child(3) td > *, .SingUp tr:nth-child(5) td > *, .SingUp tr:nth-child(6) td > * {
	width: 100%;
	box-sizing: border-box;
	height: 50px;
	padding-left: 20px;
	border-color: #FFECA0;
	border-width: 3px;
	border-radius: 10px;
	background: white;
	}
.SingUp tr:nth-child(5) td:nth-child(2) {width: 5%;}
/*----------------------*/


/*=========================*/
.forSmb1 .forSmb2 {
	width: 100%;
	height: 200px;
}
.forSmb1 .colBlock, .forSmb2 .colBlock {
	display: inline-block;
	float: left;
	margin-left: 3%;
	/*background: pink;*/
}
.forSmb2 .colBlock:nth-child(1) {
	display: inline-block;
	float: right;
}
.forSmb1 .colBlock, .forSmb2 .colBlock {
	min-width: 300px;
	/*height: 50px;*/
}
.forSmb1 .colBlock:nth-child(1), .forSmb2 .colBlock:nth-child(1) {
	width: 41%;
	min-width: 300px;
}
.forSmb1 .colBlock:nth-child(3), .forSmb2 .colBlock:nth-child(3) {
	margin-top: 50px;
}
.forSmb2 .colBlock:nth-child(1) {
	text-align: right;
}
.forSmb1 .colBlock:nth-child(2), .forSmb1 .colBlock:nth-child(3), .forSmb2 .colBlock:nth-child(2), .forSmb2 .colBlock:nth-child(3){
	width: 15%;
	min-width: 300px;
}
.forSmb1 img, .forSmb2 img {
	max-width: 500px;
	width: 100%;
}
.forSmb1 .colBlock:nth-child(2) p:nth-child(1n+3):before, .forSmb1 .colBlock:nth-child(3) p:nth-child(1n+2):before, .forSmb2 .colBlock:nth-child(2) p:nth-child(1n+3):before, .forSmb2 .colBlock:nth-child(3) p:nth-child(1n+2):before{
content: '✓ ';
}
/*=========SmrtW1=========*/
.SmrtW1 p:nth-child(2){	max-width: 450px; text-align: justify;}
.SmrtW1 p {	margin: 20px 0;}
@media (max-width: 500px) {
.SmrtW1 { width: 96%; margin: 50px 2%; }
.SmrtW1 p:nth-child(2){	text-align: left;}}
/*=========SmrtW2=========*/
.SmrtW2, .SmrtW2 * {text-align: center;}
.SmrtW2 {margin: 50px auto;	max-width: 1000px;	}
.SmrtW2 > div {
	min-width: 140px;
    height: 90px;
    position: relative;
	margin: 25px;
	display: inline-block;
	}
.SmrtW2 > div > div {
	position: absolute;
	width: 98%;
	margin: 0 1% 0 1%;
	}
.SmrtW2 > div > div:nth-child(1){
    height: 70px;
    font-family: 'Jost', Verdana, Arial, sans-serif;
	font-size: 90px;
	font-style: normal;
	font-weight: 900;
	color: #FFECA0;
    top: -20px;
	}
.SmrtW2 > div > div:nth-child(2){
    height: 50px;
    top: 20px;
	top: -4px;
	color: #236967;
	}
.SmrtW2 > div > div:nth-child(3){
    height: 70px;
	top: 80px;
	top: 15px;
	}
/*========SmrtW5==========*/
SmrtW5 {width: 100%;  word-break: break-all;}
.SmrtW5 td {width: 50%;	vertical-align: top;}
.SmrtW5 tr:nth-child(1) {display: none;}
.SmrtW5 tr:nth-child(1) img, .SmrtW5 tr:nth-child(2) img {width: 100%;	max-width: 500px;}
.SmrtW5 tr:nth-child(1n+3) img {padding-top: 60px;}
.SmrtW5 tr:nth-child(even) td:nth-child(1) {text-align: right;}
.SmrtW5 tr:nth-child(2) td:nth-child(1) {text-align: left;}
.SmrtW5 td {position: relative;	padding: 0 20px 0 20px;}
.SmrtW5 td > p:nth-child(1) {
    position: absolute;
    z-index: 1;
    top: 34px; left: 16px;
    font-family: 'Jost', Verdana, Arial, sans-serif;
	font-size: 90px;
	font-style: normal;
	font-weight: 900;
	color: #FFECA0;
	}
.SmrtW5 td > h2{position: relative; z-index: 10; padding: 60px 0 0 20px;}
.SmrtW5 td > h3{position: relative; z-index: 10; padding: 20px 0 0 20px;}
@media (max-width: 600px) {
.SmrtW5 tr:nth-child(1) {display: inline;}
.SmrtW5 tr:nth-child(2) td:nth-child(1) {display: none;}
.SmrtW5 tr:nth-child(3) td:nth-child(2) {display: none;}
.SmrtW5 tr:nth-child(4) td:nth-child(1) {display: none;}
.SmrtW5 tr:nth-child(5) td:nth-child(2) {display: none;}
.SmrtW5 tr:nth-child(6) td:nth-child(1) {display: none;}
.SmrtW5 tr:nth-child(7) td:nth-child(2) {display: none;}
}
/*========SmrtW5==========*/

.HistSpYr {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.HistSpYr label {
	width: 20%;
	height: 100px;
	float: left;
	text-align: center;
	position: relative;
}
.HistSpYr input {appearance: none;}

.HistSpYr > label > div:nth-child(2){
	position: absolute;
	left: 50%;
	transform:translate(-50%, 0px); 
	height: 70px;
	text-align: center;
    font-family: 'Jost', Verdana, Ariala, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
}
.HistDot {
	position: absolute;
	z-index: 5;
	width: 20%;
	left: 50%;
	transform:translate(-50%, 32px); 
	border-radius: 10px;
	cursor: pointer;
	}

.HistUnChkd {
	width: 14px;
	height: 14px;
	border: 2px solid #236967;
	background: white;
	box-shadow: 0 0 5px 1px #236967;
}
.HistChkd {
	width: 16px;
	height: 16px;
	border: 0;
	background: #236967;
	box-shadow: 0 0 5px 2px #236967;
}
.HistUnChkd:hover {
	box-shadow: 0 0 5px 3px #38E45D;
	transition-duration: 0.3s;
}

.HistSpYr .DotLine {
	position: absolute;
	z-index: 1;
	margin-top: 55px;
	width: 100%;
	height: 14px;
	border-top: 4px solid #236967;
}
/*===============*/
.HistSpDscr {
	width: 100%;
	height: 350px;
	margin: 70px 0;
}
.HistSpDscr > div {
	float: left;
	width: 50%;
	min-width: 450px;
	box-sizing: border-box;
}
.HistSpDscr > div > img{ width: 450px;}
.HistSpDscr > div:nth-child(1) { text-align: right;}
.HistSpDscr > div:nth-child(1n+2) {
	padding-left: 50px;
	padding-top: 50px;
}
.HistSpDscr > div > p:nth-child(1){
	font-family: NEXT ART;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: 34px;
	letter-spacing: 0.02em;
	text-align: left;
	color: #000;
}
.HistSpDscr > div > p:nth-child(2){
	font-family: 'Raleway', Verdana, Ariala, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	color: #000;
	line-height: 2;
}
/*===================*/
/*=========LearnPack==========*/
.LearnPack {	text-align: center;	margin: 140px auto;	width: 80%;}
@media (max-width: 500px) {.LearnPack {width: 100%;}}
.LearnPack .rowBlock {	margin: 30px auto;}
.LearnPack table {	margin: 0px auto;}

.LearnPack .RadioUnder {height: 50px;}
.LearnPack .RadioUnder div {width: 100%;}
.LearnPack td div {	margin: 0;}

.LearnPack td {		vertical-align: bottom;	}
.LearnPack td:nth-child(2), .LearnPack td:nth-child(4) {width: 15px;}
.LearnPack td:nth-child(1), .LearnPack td:nth-child(3), .LearnPack td:nth-child(5) {width: 240px; }
.LearnPack .price, .LearnPack2 .price {
font-family: NEXT ART;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.02em;
text-align: center;
}
.LearnPack .LPack {
	width: 300px; height: 420px;
	background: #FFFBED;	border-radius: 30px;
	display: inline-block; margin: 10px 35px; padding-top: 180px;
    background-repeat: no-repeat;
    background-position: center top;
}
.LearnPack .LPack h2 {margin-top: 10px;}
.LearnPack .LPack button {margin-top: 30px;}
.LearnPack .LPack1 {background-image: url(../images/LrPack/001.png);}
.LearnPack .LPack2 {background-image: url(../images/LrPack/002.png);}
.LearnPack .LPack3 {background-image: url(../images/LrPack/003.png);}
.LearnPack .LPack4 {background-image: url(../images/LrPack/004.png);}
.LearnPack .LPack5 {background-image: url(../images/LrPack/005.png);}
.LearnPack .LPack6 {background-image: url(../images/LrPack/006.png);}
.LearnPack .LPack7 {background-image: url(../images/LrPack/007.png);}
.LearnPack .LPack8 {background-image: url(../images/LrPack/008.png);}
@media (max-width: 500px) {.LearnPack .LPack {margin: 10px 0;}}

/*=========LearnPack==========*/
/*=========LearnPack2==========*/
.LearnPack2 {	text-align: center;	margin: 140px auto;	width: 80%;}
@media (max-width: 500px) {.LearnPack2 {width: 100%;}}
.LearnPack2 > * {	text-align: center;	margin-top: 50px;	}
.LPack {text-align: center;}
.LearnPack2 .LrPk2Chn {
	width: 80%;
	margin: 50px auto 0 auto;
	overflow: hidden;
	position: relative;
}
.LearnPack2 .LrPk2Chn label {
	display: block;
	float:left;
	width: 33.333%;
	text-align: center;
	position: relative;
}
.LearnPack2 .LrPk2Chn label div{	margin: 35px 5% 0 5%;}
.LrPk2Chn input {appearance: none;}
.LearnPack2 .LrPk2Chn input {
	position: absolute;
	transform:translate(-12px, 4px); 
	z-index: 10;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	border: 2px solid #236967;
	background: white;
	box-shadow: 0 0 5px 1px #236967;
}

.LearnPack2 .LrPk2Chn input:checked {
	width: 16px;
	height: 16px;
	transform:translate(-12px, 5px); 
	border: 0;
	background: #236967;
	box-shadow: 0 0 5px 2px #236967;
}
.LearnPack2 .LrPk2Chn input:hover {
	box-shadow: 0 0 5px 3px #38E45D;
	transition-duration: 0.3s;
}
.LearnPack2 .LrPk2Chn div h2 {
	word-wrap: break-word;
	word-break: break-all;
}

.LrPk2Chn .DotLine {
	position: absolute;
	z-index: 1;
	margin-top: 14px;
	width: 100%;
	height: 14px;
	border-top: 4px solid #236967;
}


.LearnPack2 .ChkMenuGr {
	width: 80%;
	margin: 0 auto;
	position: relative;	
	}
.LearnPack2 .ChkMenu {
	background: #FFECA0;
	border-radius: 15px;
	width: 33.333%;
	display: inline-block;
	float: left;
	position: absolute;
	padding: 10px 0;
	z-index: 100;
    box-shadow: 4px 4px 0px 0px rgba(33, 33, 33, 0.2);
	transition: opacity 0.5s ease-out 0s;
}

.LearnPack2 .LearTyp {	left: 0;}
.LearnPack2 .ClasTyp {	left: 33.33%;}
.LearnPack2 .Durat {	left: 66.66%;}

.LearnPack2 .ChkMenu > div {width: 70%;	text-align: left;	display: inline-block;}
.LearnPack2 .ChkMenu label {display: block;	margin: 25px 0;}
.LearnPack2 .LearTyp:before, .LearnPack2 .ClasTyp:before, .LearnPack2 .Durat:before {
	position: absolute;
	display: inline-block;
	z-index: 99;
    content: '';
    width: 40px;
    height: 40px;
    background: #FFECA0;
/*    background: pink;*/
    top: -18px;
    left: 42%;
    
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
@media (max-width: 1100px){ .LearnPack2 .ChkMenu > div {width: 90%;}}
@media (max-width: 840px){
	.LearnPack2 .ChkMenu {width: 50%;}
	.LearnPack2 .ClasTyp {left: 25%;}
	.LearnPack2 .Durat {left: 50%;}
	.LearnPack2 .LearTyp:before {left: 25%;}
	.LearnPack2 .ClasTyp:before {left: 42%;}
	.LearnPack2 .Durat:before {left: 60%;}
/*	.LearnPack2 .LrPk2Chn {	height: 150px;}*/
	}
@media (max-width: 580px){
	.LearnPack2 .ChkMenu > div {width: 70%;}
	.LearnPack2 .ChkMenu {width: 100%;}
	.LearnPack2 .ClasTyp, .LearnPack2 .Durat {left: 0;}
	.LearnPack2 .LearTyp:before {left: 10%;}
	.LearnPack2 .ClasTyp:before {left: 45%;}
	.LearnPack2 .Durat:before {left: 75%;}
/*	.LearnPack2 .LrPk2Chn {	height: 170px;}*/
	}
@media (max-width: 1300px) {.LearnPack2 .LrPk2Chn, .LearnPack2 .ChkMenuGr {width: 850px;}}
@media (max-width: 1100px) {.LearnPack2 .LrPk2Chn, .LearnPack2 .ChkMenuGr {width: 100%;}}

.LearnPack2 .LPacks {	margin-top: 30px; display: inline-block;}
.LearnPack2 .LPack {
	width: 300px; height: 420px;
	background: #FFFBED;	border-radius: 30px;
	margin: 10px auto;
	display: inline-block; margin: 10px 35px; padding-top: 180px;
    background-repeat: no-repeat;
    background-position: center top;
}
.LearnPack2 .LPack h2 {margin-top: 10px;}
.LearnPack2 .LPack button {margin-top: 30px;}
.LearnPack2 .LPack1 {background-image: url(../images/LrPack/001.png);}
.LearnPack2 .LPack2 {background-image: url(../images/LrPack/002.png);}
.LearnPack2 .LPack3 {background-image: url(../images/LrPack/003.png);}
.LearnPack2 .LPack4 {background-image: url(../images/LrPack/004.png);}
.LearnPack2 .LPack5 {background-image: url(../images/LrPack/005.png);}
.LearnPack2 .LPack6 {background-image: url(../images/LrPack/006.png);}
.LearnPack2 .LPack7 {background-image: url(../images/LrPack/007.png);}
.LearnPack2 .LPack8 {background-image: url(../images/LrPack/008.png);}
@media (max-width: 500px) {.LearnPack2 .LPack {margin: 10px 0;}}
/*=========LearnPack2==========*/


.chgForCh .rowBlock{
	margin-top: 3%;
}
.chgForCh .rowBlock div{
	width: 27%;
	min-width: 300px;
	margin-right: 5%;
	margin-top: 10px;
	float: left;
}
.chgForCh .rowBlock div:nth-child(2), .chgForCh .rowBlock div:nth-child(3){
	padding-left: 10px;
	margin-right: 0;
	margin-left: 3%;}
.chgForCh .rowBlock div:nth-child(2){border-left: 6px #FDD503 solid;}
.chgForCh .rowBlock div:nth-child(3){border-left: 6px #FE7167 solid;}
/*===================*/

.LearnEasy {max-width: 1400px;}
.LearnEasy .colBlock {	display: inline-block;}
.LearnEasy .colBlock:nth-child(1) {	width: 35%; margin: 100px 20px 100px 12%; float: left;}
.LearnEasy .colBlock:nth-child(2) {width: 25%; margin: 100px 12% 100px 20px; min-width: 290px; text-align: right;float: right;}
@media (max-width: 1050px) {
.LearnEasy .colBlock:nth-child(1), .LearnEasy .colBlock:nth-child(2)  {width: 80%; margin: 70px 10% 70px 10%; text-align: center; float: none;}
}
/*===================*/

.RezultAch { text-align: center;   width: 80%; }
.RezultAch .rowBlock:nth-child(2) {	max-width: 930px;   margin: 0 auto;}
.RezultAch .rowBlock > div {
	text-align: left;
	width: 274px;
	height: 200px;
	background: #FFFBED;
	border-radius: 30px;
	box-sizing: border-box;
	padding: 20px;
	margin: 15px;
	display: inline-block;
	}
.RezultAch tr:nth-child(1) { height: 40px;}
.RezultAch tr:nth-child(2) { height: 140px;}
.RezultAch td { vertical-align: top;}
/*===================*/
.WhatSLan { width: 60%; max-width: 1100px; }
.WhatSLan .colBlock { display: inline-block; float: right;}
.WhatSLan .colBlock:nth-child(1) { width: 60%; margin: 0 0 0 0; }
.WhatSLan .colBlock:nth-child(2) { width: 35%; margin: 20px 5% 0 0; }
.WhatSLan .rowBlock:nth-child(2) {margin-top: 20px;}
.WhatSLan table {margin-top: 20px;}
.WhatSLan .rowBlock > div { display: inline-block; margin: 0 7% 0 0;}
.WhatSLan .rowBlock { display: inline-block; float: left;}
.WhatSLan td { vertical-align: bottom; height: 50px;}
@media (max-width: 1700px) {.WhatSLan .colBlock:nth-child(1) { width: 45%; margin-left: 15%;}}
@media (max-width: 1150px) {.WhatSLan .colBlock:nth-child(2) { width: 353px;}
.WhatSLan .colBlock:nth-child(1) { width: 100%; margin-left: 0;}
}
@media (max-width: 800px) {.WhatSLan { width: 80%;}}
@media (max-width: 600px) {.WhatSLan { width: 90%;}}
.WhatSLan td {
    background-repeat: no-repeat;
    background-position: top left;
}
.WhatSLan .rowBlock:nth-child(2) div:nth-child(1) td { background-image: url(../images/WhatSLan/001.png);}
.WhatSLan .rowBlock:nth-child(2) div:nth-child(2) td { background-image: url(../images/WhatSLan/002.png);}
.WhatSLan .rowBlock:nth-child(2) div:nth-child(3) td { background-image: url(../images/WhatSLan/003.png);}
.WhatSLan .rowBlock:nth-child(2) div:nth-child(4) td { background-image: url(../images/WhatSLan/004.png);}
.WhatSLan .rowBlock:nth-child(2) div:nth-child(5) td { background-image: url(../images/WhatSLan/005.png);}
.WhatSLan .rowBlock:nth-child(2) div:nth-child(6) td { background-image: url(../images/WhatSLan/006.png);}


footer.dispW {
	width: 100%;
	max-width: 1920px;
	margin: 80px auto;
	min-height: 430px;
	background: #FFFBED;
	margin: auto;
	box-sizing: border-box;
	border-radius: 70px 70px 0 0;
}
footer.dispW > div {
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	min-height: 430px;
	text-align: center;
}
footer.dispW > div > div {
	width: 33%;
	min-width: 300px;
	height: 430px;
	display: inline-block;
	float: left;
	box-sizing: border-box; 
	padding-top: 70px;
}
footer.dispW .LeftCol * {text-align: left; text-decoration: none;}
footer.dispW .RightCol * {text-align: right;}

footer.dispW .LeftCol p {margin-top: 50px;}
footer.dispW .RightCol p {margin-top: 40px;}

footer.dispW .CentrCol > *:nth-child(2) {	margin: 30px auto 0 auto;}
footer.dispW .CentrCol > *:nth-child(3) {	margin: 30px auto 0 auto;}

footer.dispW { display: inline-block;}
footer.dispN { display: none;}
/*===================*/
@media (max-width: 1140px) {
footer.dispW { display: none;}
footer.dispN { display: inline-block;}
}
/*===================*/
footer.dispN {
	width: 100%;
	height: 848x;
	background: #FFFBED;
	border-radius: 70px 70px 0 0;
}
footer.dispN, footer.dispN * {
	box-sizing: border-box;
	text-align: center;
}
footer.dispN > div > div {
	width: 100%;
	padding-top: 60px;
}
footer.dispN .LeftCol * {text-decoration: none;}
footer.dispN .LeftCol h2 {margin-top: 50px;}
footer.dispN .RightCol p {
	margin-top: 40px;
	width: 50%;
	padding: 0 10% 0 10%;
	display: inline-block;
	float: left;
}

footer.dispN .CentrCol > *:nth-child(2) {	margin: 30px auto 0 auto;}
footer.dispN .CentrCol > *:nth-child(3) {	margin: 30px auto 0 auto;}

/*===================*/
h2 {
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px;
letter-spacing: 0px;
}

h3 {
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 26px;
letter-spacing: 0.02em;
}

footer .RightCol h2, footer .RightCol h3 { text-align: right; }

/*==============================*/
label.CmnRadio {
	position: relative;
	left: 30px;
}
label.CmnRadio input {appearance: none;}
label.CmnRadio input {
	position: absolute;
	left: -30px; top: -2px;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	border: 2px solid #236967;
	background: white;
}
.LearnPack2 .ChkMenu label.CmnRadio input {top: -6px;}
label.CmnRadio input:checked:after {
        width: 9px;
        height: 9px;
        border-radius: 10px;
        top: 3px;
        left: 3px;
        position: absolute;
        background: #236967;
        content: '';
        display: inline-block;
}
label.CmnRadio input:hover {
	box-shadow: 0 0 5px 3px #38E45D;
	transition-duration: 0.3s;
}
/*==============================*/

@media (min-width: 1800px) {.forSmb2 .colBlock:nth-child(1) {text-align: left;}}
@media (max-width: 1250px) {
.SingUp {
	height: 850px;
    background-image: url(../images/SingUpHr.svg);
    background-repeat: repeat-x;
    background-position: right bottom;
}
.SingUp form {
  	width: 70%;
	margin: 40px 15% 0 15%;}
}

.TitScool > * {display: block;}
.TitScool div {float:left; width: 450px; margin: 3% 0;}
.Ofrt div {margin: 0;}
.TitScool img {float:right;}
@media (max-width: 700px) {.TitScool img {float:left;width: 100%;}}
@media (max-width: 500px) {.TitScool div {width: 94%; margin: 10% 3%;}}

@media (max-width: 600px) {
.RadioUnder div {width: 98%; margin: 0 1% 0 1%;}
.forSmb2 .colBlock:nth-child(1) {float: left;}
.forSmb1 {	margin-left: 1%;	margin-right: 1%;}}

.Oferta h3 p, .TitScool h3 p, .Oferta h2 p, .TitScool h2 p, .Oferta .colBlock {padding-bottom: 1.5em;}
.Oferta .colBlock {padding-bottom: 3em;}
@media (max-width: 600px) {.Oferta { width: 472px;}}
@media (max-width: 525px) {.Oferta { width: 95%;}}

.Oferta {
	column-count: 2;
	column-gap: 4em;
	column-width: 350px;
	}
.TitScool h1 {
font-family: 'NEXT ART' Arial;
font: 'NEXT ART', Arial;
font-size: 50px;
font-style: normal;
font-weight: 900;
line-height: 66px;
letter-spacing: 0.02em;
}
.Oferta h2, .TitScool h2 {
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0px;
}
.Oferta h3, .TitScool h3 {
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 400;
/*line-height: 26px;*/
letter-spacing: 0.02em;
text-align: justify;
}
