@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

:root {
--horMarg: 31px;
--narrMarg: 16px;
}

body {margin:0;}
.banner {width:100%;height:150px;position:relative;overflow:hidden;
color: #FFF;
text-shadow: 1px 4px 8px rgba(59, 50, 73, 0.25);
font-size: 28px;font-family: 'Montserrat', 'Arial Black', sans-serif;font-style: normal;font-weight: 800;line-height: normal;letter-spacing: 0.28px;text-transform: uppercase;}
.wrapG {display:block;max-width:1920px;height:100%;margin:0 auto;
display:flex;flex-wrap:wrap;justify-content:left;align-items:stretch;}
.caRoad, .backgr {position:absolute;}
.caRoad {z-index: -1;width:900px;height:175px;right:calc(50% - 500px);bottom: -30px;}
.backgr {z-index: -2;width:100%;bottom:-20%;}

.colm {display:flex;flex-wrap:wrap;justify-content:left;align-items:stretch;}
.colm:nth-of-type(2) {margin-left:auto;margin-right:var(--horMarg);align-items:center;}
.dopBlock {display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;}

.logoFrame {width:228px;height:150px;background:white;
display:flex;justify-content:center;flex-wrap:wrap;align-items:center;}
.logoFrame, .banner .logo {text-align:center;}
.logo>* {display:block;margin:0 auto;}
.logo>*:nth-child(1) {margin-bottom:11px;}
.txtBlock {margin-left:var(--horMarg);display:flex;flex-direction: column;justify-content:center;flex-wrap:wrap;align-items:start;}
.hotGrad {font-style: italic;padding:0 0.3em;
background-image: linear-gradient(90deg, #F89443, #FFD260);
-webkit-background-clip: text;color:transparent; }
.txtBlock .wTxt {padding:0 0.3em;}
.txtBlock .wTxt.otst {padding:0 1em;}

a {text-decoration:none;color:inherit;}
.linkBlock {font-size: 20px;font-weight:700;letter-spacing:1px;padding:20px 40px;
display:inline-block;border-radius: 10px;
background-image: linear-gradient(90deg, #F89443, #FFD260);
box-shadow: 1px 4px 8px 0px rgba(59, 50, 73, 0.25), -1px -1px 2px 0px rgba(255, 178, 62, 0.41) inset;}
.nippFlag {position:relative;width:124px;height:68px;border-radius: 10px;background: #FFF;margin-left:var(--horMarg);}
.nippFlag::after {position:absolute;left:31.45%;top:16.17%;content: '';height:67.64%;width:37%;border-radius:46px;background:#DC3232;}

@media (max-width:1920px) {.backgr {width:1920px;left:120px;}}
@media (max-width:1560px) {
.wideLink {display:none;}
.caRoad {right:calc(50% - 620px);}
}
@media (max-width:1300px) {
.banner {font-size:23px;letter-spacing: 0.23px;}
.colm:nth-of-type(1) {justify-content:space-between;flex-direction: column;align-items:start;margin-top:14px;margin-bottom:14px;}
.logoFrame {margin-left:var(--horMarg);width:194px;height:47px;border-radius:4px;box-shadow: 1px 4px 8px 0px rgba(59, 50, 73, 0.25);}
.logo {display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;}
.logo>img {display:inline-block;}
.logo>img:nth-child(1) {width: 40px;height: 20px;margin-bottom:0;margin-right:7px;}
.logo>img:nth-child(2) {width: 103px;height: 14px;}
.txtBlock {display:inline-block;}
.nippFlag {width:80px;height:44px;border-radius:4px;}
.caRoad {right:calc(50% - 480px);}
.backgr {left:-120px;}
}
@media (max-width:1024px) {
.banner {font-size: 15px;letter-spacing: 0.15px;}
.colm:nth-of-type(2) {margin-right:var(--narrMarg);}
.dopBlock {flex-direction: column;align-items:start;}
.dopBlock>*:nth-child(1) {margin-bottom:4px;}
.txtBlock, .logoFrame {margin-left:var(--narrMarg)}
.txtBlock {max-width:150px;}
.logoFrame {width:132px;height:32px;}
.logo>img:nth-child(1) {width:30px;height:15px;margin-right:5px;}
.logo>img:nth-child(2) {width:72px;height:10px;}
.linkBlock {font-size:13px;padding:13px 20px;}
.caRoad {right:calc(50% - 380px);}
.nippFlag {width:60px;height:33px;border-radius:3px;margin-left:var(--narrMarg);}
}
@media (max-width:690px) {
.nippFlag, .linkBlock.narrDisapp {display:none;}
.linkBlock {margin-left:var(--narrMarg);}
.wrapG.chngDir {justify-content:space-between;flex-direction: column;}
.chngDir .colm:nth-of-type(1) {height:74px;margin-bottom:0;}
.chngDir .colm:nth-of-type(2) {margin-left:0;margin-bottom:var(--narrMarg);}
.caRoad {right:-200px;bottom:-25px;transform: scale(0.9);}
.backgr {bottom:-150px;left:-300px;}
}
@media (max-width:500px) {
.caRoad {right:-270px;bottom:-35px;transform: scale(0.7);}
}
@media (max-width:400px) {
.caRoad {right:-310px;transform: scale(0.6);}
}


.linkBlock, .hotGrad {animation-duration: 2s;animation-iteration-count: infinite;animation-name: runGrad;}
@keyframes runGrad {
 0% { background-image: linear-gradient(65deg, #FFD260 90%, #F89443); }
 2% { background-image: linear-gradient(65deg, #FFD260 80%, #F89443); }
 4% { background-image: linear-gradient(65deg, #FFD260 70%, #F89443); }
 6% { background-image: linear-gradient(65deg, #FFD260 60%, #F89443); }
 8% { background-image: linear-gradient(65deg, #FFD260 50%, #F89443 70%, #FFD260); }
 10% { background-image: linear-gradient(65deg, #FFD260 40%, #F89443 60%, #FFD260); }
 12% { background-image: linear-gradient(65deg, #FFD260 30%, #F89443 50%, #FFD260); }
 14% { background-image: linear-gradient(65deg, #FFD260 20%, #F89443 40%, #FFD260); }
 16% { background-image: linear-gradient(65deg, #FFD260 10%, #F89443 30%, #FFD260); }
 18% { background-image: linear-gradient(65deg, #FFD260 0, #F89443 20%, #FFD260); }
 20% { background-image: linear-gradient(65deg, #F89443, #FFD260); }
 }
